<div class="back-gray">
  <div class="img-nav">
    <div class="caja">
      <div class="box">
        <img [src]="usuario.imageUrl" alt="perfil" />
      </div>
    </div>
  </div>

  <div class="texto">
    <p>{{ usuario.nombre }}</p>
    <a [routerLink]="['/index']">Ir a Inicio</a>
  </div>

  <div class="nav">
    <div class="logoFILC">
      <img
        src="../../../assets/img/navbar/logo-camara.png"
        alt="logotipo"
        class="logoFilc"
      />
    </div>
    <div class="logoCam">
      <img
        src="../../assets/img/navbar/LOGO CAMARA sin borde.png"
        alt="logotipo"
        class="logoCamara"
      />
    </div>
  </div>
</div>

<nav class="main-menu">
  <ul>
    <li class="foto">
      <div class="caja">
        <div class="box">
          <img
            *ngIf="!imgTemp"
            [src]="usuario.imageUrl"
            alt=""
            class="img-avatar"
            />
            <img *ngIf="imgTemp" [src]="imgTemp" alt="" class="img-avatar" />
        </div>
      </div>


      <input
        type="file"
        accept="image/*"
        name="archivo"
        id="archivo"
        (change)="cambiarImagen($event)"
      />

      <div class="abajo">
        <label for="archivo">Cambiar Foto</label>
        <button
          type="button"
          class="btn"
          [disabled]="newEnviar"
          (click)="subirImagen()"
        >
          <i class="fa-solid fa-floppy-disk"></i>
        </button>
      </div>
    </li>

    <div class="white">
      <li class="has-subnav">
        <div class="nav-text">
          {{ usuario.nombre }}
        </div>
      </li>

      <div class="datos-centro">
        <li class="dat dat-correo">
          <div class="titu">Correo electrónico:</div>
          <div class="conten">
            {{ usuario.email }}
          </div>
        </li>

        <li class="dat dat-celular">
          <div class="titu">Celular:</div>
          <div class="conten">
            {{ usuario.celular }} - {{ usuario.celular2 }}
          </div>
        </li>
        <li class="dat dat-telefono">
          <div class="titu">Teléfono:</div>
          <div class="conten">
            {{ usuario.telefono }} - {{ usuario.telefono2 }}
          </div>
        </li>
        <li class="dat dat-direccion">
          <div class="titu">Dirección:</div>
          <div class="conten">
            {{ usuario.direccion }}
          </div>
        </li>
        <li class="dat dat-pagina">
          <div class="titu">Página:</div>
          <div class="conten">
            {{ usuario.page_web }}
          </div>
        </li>
      </div>
      <li>
        <button class="boton cursor" (click)="openDialog2(usuario)">
          EDITAR
        </button>
      </li>

      <li>
        <button class="boton2 cursor" (click)="cerrarSession()">
          <span>Cerrar Session</span>
        </button>
      </li>
    </div>
  </ul>
</nav>

<div class="contenido">
  <div class="titulos">
    <h3 class="izq">
      <button><span class="resaltado">TUS</span> LIBROS</button>
    </h3>

    <h3 class="der">
      <button (click)="openDialog()">
        + <span class="resaltado">AÑADIR</span> LIBRO
      </button>
    </h3>
  </div>

  <div class="tabla">
    <div class="table-responsive">
      <section class="table table-primary">
        <thead>
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Habilita tu libro</th>
            <th scope="col">Borrar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="informacion"
            *ngFor="
              let element of readData
                | paginate: { itemsPerPage: 5, currentPage: pageActual }
            "
          >
            <td class="imagen" >
               <button (click)="imagenLibro(element)">Cambiar</button>
              <img
                [src]="element.img | imagen: 'libros'"
                alt="aaa"
                
                class="cursor"
              />
            </td>
            <td class="title">
              {{ element.titulo }} <br />
              {{ element.subtitulo }}
            </td>
            <td class="autor">
              {{ element.autor }} <br />
              {{ element.autor }}
            </td>
            <td class="precio">{{ element.precio }} Bs.</td>
            <td class="descripcion">{{ element.descripcion }}</td>
            <td class="pago">
              <br />
              <i
                *ngIf="!element.habilitado"
                (click)="habilitarLibro(element)"
                class="cursor fa-solid fa-eye-slash"
              ></i>
              <i *ngIf="element.habilitado" class="fa-solid fa-eye"></i>
            </td>
            <td>
              <button (click)="borrarLibro(element._id)">
                <i class="fa-solid fa-trash cursor"></i>
              </button>
            </td>
            <td>
              <button>
                <i
                  class="fa-solid fa-pen cursor"
                  (click)="editarLibro(element)"
                ></i>
              </button>
            </td>
          </tr>
        </tbody>
      </section>

      <br/><br/>
      <pagination-controls
        (pageChange)="pageActual = $event"
        class="my-pagination"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</div>
