

<div class="container">
<app-slider></app-slider>

  <div class="intro">

      <div class="">
          <div class="column50 text">
              <p>
              <span class="sub">LA CAMARA DEL LIBRO</span> Un 25 de marzo del 2008 se llevó a cabo una asamblea general de “La Cámara Departamental del Libro de Cochabamba" conformada por asociados y representantes de instituciones y empresas dedicadas a la producción de libros, revistas y cualquier producción bibliográfica legal.
              </p>
              <br>
              <p>
              Dicha reunión tuvo la finalidad de apoyar, promover e impulsar el desarrollo de las actividades relacionadas con la producción de todo tipo de material complementario al libro en cualquier formato y cualquier tipo de publicación bibliográfica en el departamento.... <a href="">+ ver mas detalle</a>
              </p>
          </div>
          <div class="column50 imagen">
              <img src="../../../assets/img/inicio/directores.jpg" alt="intro-IMG">
          </div>
      </div>

  </div>

    <div class="amigos">
        <div class="titulo-border">
            <span class="title">
              <span class="resaltado">NUESTROS</span>
              <span class="title-black">AMIGOS</span>
            </span>
          </div>

        <div class="containr">
            <div class="item red">
                <a href="https://www.mintrabajo.gob.bo/">
                    <img src="../../../assets/img/inicio/A-gobierno.jpg"/>
                    <i class="fa-solid fa-building-ngo"></i>
                </a>
            </div>

            <div class="item blue">
                <a href="https://ovt.mintrabajo.gob.bo/#/loginRoe">
                    <img src="../../../assets/img/inicio/A-ministerio.jpg"/>
                    <i class="fa-solid fa-briefcase"></i>
                </a>
           </div>

            <div class="item green">
                <a href="https://www.senapi.gob.bo/">
                    <img src="../../../assets/img/inicio/A-senapi.jpg"/>
                    <i class="fa-solid fa-brain"></i>
                </a>
            </div>
        </div>
    </div>
</div>
