<div class="loader loader-41" *ngIf="loading">
  <div class="loader-container">
    <p class='loader-title-double'>CARGANDO</p>
    <p class='loader-title'>CARGANDO</p>
  </div>
</div>

<div class="back-gray">
  <div class="nav">
    <div class="logoFILC">
      <img
        src="../../../assets/img/navbar/logo-camara.png"
        alt="logotipo"
        class="logoFilc"
      />
    </div>
    <div class="logoCam">
      <img
        src="../../../assets/img/navbar/camara-logo.png"
        alt="logotipo"
        class="logoCamara"
      />
    </div>

    <div class="derecha">
      NO TIENES CUENTA?<a [routerLink]="['/auth/register']" class="enlace"
        >REGISTRATE</a
      >
    </div>
  </div>
</div>

<div class="imagen-book-2">
  <img src="../../../assets/img/books/books-cut.png" alt="" />
</div>

<div class="imagen-book">
  <img src="../../../assets/img/books/books.png" alt="" />
</div>

<div class="form">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="titulo">
      <p>Hola de nuevo!</p>
    </div>
    <div class="contenido-form">
      <span class="yellow"><i class="fa-sharp fa-solid fa-envelope"></i></span>
      <input
        type="email"
        class="txtbox"
        placeholder="Correo"
        formControlName="email"
      />
      <span *ngIf="campoNoValido('email')">Ingrese Un Correo Válido</span>

      <br /><br />
      <span class="yellow"
        ><i class="fa-sharp fa-solid fa-id-card-clip"></i
      ></span>
      <input
        type="password"
        class="txtbox"
        placeholder="Contraseña"
        formControlName="password"
      />
      <span *ngIf="campoNoValido('password')">Ingrese Una Contraseña</span>
    </div>

    <div class="pablo-fernandez">
      <div class="">
        <div class="">
          <input
            id="checkbox-signup"
            type="checkbox"
            class="f"
            formControlName="remember"
          />
          <label for="checkbox-signup"> Recuerdame </label>
        </div>
      </div>
    </div>


    <br /><br />
    <div class="row">
      <button type="submit" class="btn cursor">INGRESAR</button>
    </div>
  </form>

  <div class="pablo-fernandez">
    <div>
      <p>Inicia Sessión con Google</p><br>
  
      <div id="buttonDiv"></div>
  
    </div>
  </div>
</div>

<div class="linea">
  <p>CÁMARA DEPARTAMENTAL DEL LIBRO DE COCHABAMBA</p>
</div>
