<h1 mat-dialog-title>Usuario</h1>
<div mat-dialog-container>
  <form [formGroup]="usuariosForm">
    <div class="example-container">
      <mat-form-field hintLabel="Caracteres" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input
          formControlName="nombre"
          matInput
          #input
          maxlength="30"
          placeholder="Nombre del Usuario"
        />
        <mat-hint align="end">{{ input.value.length }}/30</mat-hint>
        <mat-error *ngIf="campoNoValido('nombre')"
          >Ingrese un Nombre Válido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="libro@ejemplo.com"
          required
        />
        <mat-error *ngIf="campoNoValido('email')"
          >Ingrese un Correo Válido</mat-error
        >
      </mat-form-field>
    </div>

    <div class="example-container">

      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria">
          <mat-option [value]="'Autor'">Autor</mat-option>
          <mat-option [value]="'Editorial'">Editorial</mat-option>
          <mat-option [value]="'Libro'">Distribuidora</mat-option>
        </mat-select>
        <mat-hint align="end"></mat-hint>
        <mat-error *ngIf="campoNoValido('categoria')"
          >Ingrese Una Categoria Válida</mat-error
        >
      </mat-form-field>
      

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Monto de Cuenta</mat-label>
        <input
          formControlName="coin"
          matInput
          type="number"
          class="example-right-align"
        />
        <span matTextPrefix>Bs. &nbsp;</span>
        <mat-error *ngIf="campoNoValido('coin')"
          >Ingrese Un Valor Adecuado</mat-error
        >
      </mat-form-field>
    </div>

    <div class="example-container">

      <mat-form-field hintLabel="Caracteres" appearance="fill">
        <mat-label>Página Web</mat-label>
        <input
          formControlName="page_web"
          matInput
          #input
          maxlength="20"
          placeholder="Sitio Web Personal"
        />
        <mat-hint align="end">{{ input.value.length }}/20</mat-hint>
        <mat-error *ngIf="campoNoValido('page_web')"
          >Ingrese Una Dirección URL Correcta</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Dirección</mat-label>
        <textarea
          formControlName="direccion"
          #message
          maxlength="100"
          placeholder="Agrega La dirección de tu (Negocio, Empresa)"
          matInput
        ></textarea>
        <mat-hint align="end">{{ message.value.length }} / 100</mat-hint>
        <mat-error *ngIf="campoNoValido('page_web')"
          >Ingrese Una Ubicación Válida</mat-error
        >
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field class="example-full-width">
        <mat-label>Celular</mat-label>
        <span matPrefix>+591 &nbsp;</span>
        <input type="tel" formControlName="celular" matInput placeholder="555-555-55 ejemplo">
        <mat-icon matSuffix>phone_iphone</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Celular Secundario</mat-label>
        <span matPrefix>+591 &nbsp;</span>
        <input type="tel" formControlName="celular2" matInput placeholder="555-555-55 ejemplo">
        <mat-icon matSuffix>phone_iphone</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Telefono</mat-label>
        <span matPrefix>&nbsp;</span>
        <input type="tel" formControlName="telefono" matInput placeholder="555-555-55 ejemplo">
        <mat-icon matSuffix>add_call</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Telefono Secundario</mat-label>
        <span matPrefix>&nbsp;</span>
        <input type="tel" formControlName="telefono2" matInput placeholder="555-555-55 ejemplo">
        <mat-icon matSuffix>add_call</mat-icon>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    color="primary"
    (click)="EditarUsuario()"
  >
    {{mensajeBoton}}
  </button>
</div>

<!-- <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field> -->

<!-- <mat-form-field class="example-full-width">
      <mat-label>Message</mat-label>
      <input
				formControlName="mensajelargo"
        matInput
        #message
        maxlength="256"
        placeholder="Ex. I need help with..."
      />
      <mat-hint align="start"
        ><strong>Don't disclose personal info</strong>
      </mat-hint>
      <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
    </mat-form-field> -->

<!-- <mat-label><h1>Producto Fresco</h1></mat-label>
    <mat-radio-group formControlName="opcion" class="example-radio-group">
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let item of usuarios"
        [value]="item"
      >
        {{ item }}
      </mat-radio-button>
    </mat-radio-group>
     -->

<!-- <mat-form-field appearance="fill" class="size">
      <input
				formControlName="fecha"
        matInput
        [matDatepicker]="picker"
				placeholder="Selecciona una Fecha"
				readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field> -->
