.poner-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
}

img{
  max-width: 100%;
}

.container-all{
  position: relative;
  /* max-width: 1000px; */
  width: 100%;
  /* border-radius: 6px; */
  overflow: hidden;
}

.slide{
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.pagination{
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pagination-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.437);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}
.pagination-item:hover {
  transform: scale(2);
}

.pagination-item img{
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

.pagination-item:hover img{
  opacity: 1;
  transform: scale(1);
}
input[id="1"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
  background-color: #fff;
}

input[id="2"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
  background-color: #fff;
}

input[id="3"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
  background-color: #fff;
}

/* 100 divido a 3, porque son 3 imagenes */
@keyframes autoplay{
  33%{
    transform: translate3d(calc(-100% * 0), 0, 0);
  }
  66%{
    transform: translate3d(calc(-100% * 1), 0, 0);
  }
  100%{
    transform: translate3d(calc(-100% * 2 ), 0, 0);
  }
}

.encabezadoverde{
  position: absolute;
  z-index: 800;
  margin-top: 15%;
  width: 30%;
  margin-left: 35%;
  color: #1A7712;
  font-family: 'Englebert';
  text-align: center;
  text-shadow: 3px 3px 6px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 0.4em rgb(255, 255, 255);
  font-size: 48px;
  line-height: 50px;
  font-weight: bold;
}
.encabezadoblack{
  color: #000;
}
