<div class="container">
  <div class="poner-flex">
    <div class="container-all">
        <input type="radio" id="1" name="image-slide" hidden>
        <input type="radio" id="2" name="image-slide" hidden>
        <input type="radio" id="3" name="image-slide" hidden>
        <div class="slide">
            <div class="item-slide">
              <p class="encabezadoverde"><span class="encabezadoblack">"FERIA INTERNACIONAL</span> DEL LIBRO DE COCHABAMBA"</p>
                <img src="../../../assets/img/navbar/principal-01.jpg" alt="estudiante">
            </div>
            <div class="item-slide">
              <p class="encabezadoverde"><span class="encabezadoblack">"LA ESCRITURA ES LA</span> PINTURA DE LA VOZ"</p>
                <img src="../../../assets/img/navbar/estudiantes.jpg" alt="estudiante 1">
            </div>
            <div class="item-slide">
              <p class="encabezadoverde"><span class="encabezadoblack">EL VERBO LEER NO</span> SOPORTA EL IMPERATIVO</p>
                <img src="../../../assets/img/navbar/estudiante.jpg" alt="fil 1">
            </div>
        </div>
        <div class="pagination">
            <label for="1" class="pagination-item">
                <img src="../../../assets/img/navbar/principal-01.jpg" alt="">
            </label>
    
            <label for="2" class="pagination-item">
                <img src="../../../assets/img/navbar/estudiantes.jpg" alt="">
            </label>
    
            <label for="3" class="pagination-item">
                <img src="../../../assets/img/navbar/estudiante.jpg" alt="">
            </label>
        </div>
    </div>
</div>
