<h1 mat-dialog-title>Evento</h1>
<div mat-dialog-container>
  <form [formGroup]="eventoForm">
    <div class="example-container">
      <mat-form-field hintLabel="Caracteres" appearance="fill">
        <mat-label>Titulo</mat-label>
        <input
          formControlName="titulo"
          matInput
          #input
          maxlength="40"
          placeholder="Titulo del Evento"
        />
        <mat-hint align="end">{{ input.value.length }}/40</mat-hint>
        <mat-error *ngIf="campoNoValido('categoria')"
          >Ingrese un Nombre Válido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Detalles</mat-label>
        <textarea
          formControlName="detalles"
          #message
          maxlength="200"
          placeholder="Agrega Los Detalles Acerca Del Evento"
          matInput
        ></textarea>
        <mat-hint align="end">{{ message.value.length }} / 100</mat-hint>
        <mat-error *ngIf="campoNoValido('page_web')"
          >Ingrese Valores Correctos</mat-error
        >
      </mat-form-field>

      <div class="size">
        <mat-form-field appearance="fill">
					<mat-label>Selecciona la Fecha del Evento</mat-label>
          <input
            formControlName="fecha"
            matInput
            [matDatepicker]="picker"
            placeholder="Selecciona una Fecha"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    color="primary"
    (click)="EditarEvento()"
  >
    {{ mensajeBoton }}
  </button>
</div>

<!-- <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field> -->

<!-- <mat-form-field class="example-full-width">
      <mat-label>Message</mat-label>
      <input
				formControlName="mensajelargo"
        matInput
        #message
        maxlength="256"
        placeholder="Ex. I need help with..."
      />
      <mat-hint align="start"
        ><strong>Don't disclose personal info</strong>
      </mat-hint>
      <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
    </mat-form-field> -->

<!-- <mat-label><h1>Producto Fresco</h1></mat-label>
    <mat-radio-group formControlName="opcion" class="example-radio-group">
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let item of usuarios"
        [value]="item"
      >
        {{ item }}
      </mat-radio-button>
    </mat-radio-group>
     -->
