mat-form-field {
	width: 45%;
  margin: 0.5em 0.5em;
  /* margin: 0.5em 0.5em; */
  border: 0.5em solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.size{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}