<div class="back-gray">
  <div class="nav">
    <div class="logoFILC">
      <img
        src="../../../assets/img/navbar/logo-camara.png"
        alt="logotipo"
        class="logoFilc"
      />
    </div>
    <div class="logoCam">
      <img
        src="../../../assets/img/navbar/camara-logo.png"
        alt="logotipo"
        class="logoCamara"
      />
    </div>

    <div class="derecha">
      YA ERES USUARIO?
      <a [routerLink]="['/auth']" class="enlace">INICIO SESIÓN</a>
    </div>
  </div>
</div>

<div class="imagen-book-2">
  <img src="../../../assets/img/books/books-cut.png" alt="" />
</div>

<div class="imagen-book">
  <img src="../../../assets/img/books/books.png" alt="" />
</div>

<div class="form">
  <form [formGroup]="registerForm" (submit)="crearUsuario()">
    <div class="titulo">
      <p>CREAR UNA CUENTA</p>
    </div>

    <div class="contenido-form">
      <br />
      <span class="green"><i class="fa-sharp fa-solid fa-user-large"></i></span>
      <input
        type="text"
        id="fnombre"
        class="txtbox"
        placeholder="Nombre *"
        formControlName="nombre"
      />
      <span class="text-danger" *ngIf="campoNoValido('nombre')"
        >Ingrese un nombre válido</span
      >
      <br /><br />
      <span class="green"><i class="fa-sharp fa-solid fa-newspaper"></i></span>
      <select class="select" formControlName="categoria">
        <option value="">--Seleccione una Categoria--</option>
        <option *ngFor="let item of categoria" [value]="item" class="option">
          {{ item }}
        </option>
      </select>
      <span class="text-danger" *ngIf="campoNoValido('categoria')"
        >Seleccione una categoría</span
      >

      <br /><br />
      <span class="green"><i class="fa-sharp fa-solid fa-envelope"></i></span>
      <input
        type="email"
        class="txtbox"
        placeholder="Correo *"
        formControlName="email"
      />
      <span class="text-danger" *ngIf="campoNoValido('email')"
        >Ingrese un Correo Válido</span
      >

      <br /><br />
      <span class="green"><i class="fa-solid fa-key"></i></span>
      <input
        type="password"
        class="txtbox"
        placeholder="Contraseña *"
        formControlName="password"
      />
      <span class="text-danger" *ngIf="campoNoValido('password')"
        >La contraseña es requerida</span
      >

      <br /><br />
      <span class="green"><i class="fa-solid fa-mobile-screen"></i></span>
      <input
        type="number"
        class="txtbox"
        placeholder="Nro. Celular (opcional)"
        formControlName="celular"
      />
      <span class="text-danger" *ngIf="campoNoValido('celular')"
        >Ingrese Un Numero Válido</span
      >

      <br /><br />
      <span class="green"><i class="fa-solid fa-mobile-screen"></i></span>
      <input
        type="number"
        class="txtbox"
        placeholder="Nro.Celular Secundario (opcional)"
        formControlName="celular2"
      />
      <span class="text-danger" *ngIf="campoNoValido('celular2')"
        >Ingrese Un Numero Válido</span
      >
      <br /><br />
      <span class="green"><i class="fa-solid fa-phone"></i></span>
      <input
        type="number"
        class="txtbox"
        placeholder="Telefono (opcional)"
        formControlName="telefono"
      />
      <span class="text-danger" *ngIf="campoNoValido('telefono')"
        >Ingrese un Numero Telefónico Válido</span
      >

      <br /><br />
      <span class="green"><i class="fa-solid fa-phone"></i></span>
      <input
        type="number"
        class="txtbox"
        placeholder="Telefono Secundario (opcional)"
        formControlName="telefono2"
      />
      <span class="text-danger" *ngIf="campoNoValido('telefono2')"
        >Ingrese un Numero Telefónico Válido</span
      >
      <br /><br />
      <span class="green"><i class="fa-solid fa-location-dot"></i></span>
      <input
        type="text"
        class="txtbox"
        placeholder="Dirección (opcional)"
        formControlName="direccion"
      />
      <br /><br />
      <span class="text-danger" *ngIf="campoNoValido('direccion')">Ingrese Una Direccion Correcta</span>
      <span class="green"><i class="fa-solid fa-link"></i></span>
      <input
        type="text"
        class="txtbox"
        placeholder="Dirección de su Página Web (opcional)"
        formControlName="page_web"
      />
      <span class="text-danger" *ngIf="campoNoValido('page_web')">Ingrese Una URL Válida</span>
    </div>

    <button class="btn cursor" type="submit">CREAR CUENTA</button>

    <div class="volver">
      <a [routerLink]="['/']"
        ><i class="fa-solid fa-arrow-left"></i>Volver</a
      >
    </div>
  </form>
</div>

<div class="linea">
  <p>CÁMARA DEPARTAMENTAL DEL LIBRO DE COCHABAMBA</p>
</div>
