.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contenido-img h2{
  font-family: 'Englebert';
  padding: 150px 0px 150px 0px;
  text-align: center;
  color: #fff;
  font-size: 80px;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.184) 0%, rgba(195, 255, 0, 0.173) 100%), url(../../../assets/img/navbar/estudiante.jpg);
  background-size: 100%;
  background-position-y: top;
  margin-bottom: 50px;
}
.linea001 {
  width: 80%;
  margin: 0 10%;
}
iframe{
  width: 100%;
  padding: 3px;
  margin-top: 15px;
  background-color: #98989898;
  margin-bottom: 35px;
}
.column40{
  width: 45%;
  margin: 25px;
  float: left;
}
.izq p{
  margin-bottom: 12px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
.izq p i{
  margin: 3px;
}
form{
  border: 2px solid transparent;
}
.txtbox{
  width: 97%;
  padding: 5px;
  margin-bottom: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: transparent;
  border: 3px solid #333333;
}
textarea{
  padding: 5px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.space-top{
  margin-top: 15px;
}
.text-danger{
  color: #aa0c0c;
}
.btn{
  background-color: #FFCA00;
  padding: 7px 15px 7px 15px;
  margin-top: 7px;
  font-size: 25px;
  border: none;
  font-family: 'Englebert';
  font-weight: 500;
  text-align: center;
  width: 100%;
  color: #fff;
  border-radius: 10px;
}
.btn:hover{
  background-color: transparent;
  border: 2px solid #fbca06;
  color: #fbca06;
}
/* Fin formulario */


/* VALIDACIONES */
.btn-invalid{
  background-color: #c5c6a3;
  color: #ededed;
  font-weight: 800;
}
.btn-invalid:hover{
  background-color: transparent;
  border: 2px solid #c5c6a3;
  color: #c5c6a3;
}

.error {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
  position: fixed;
  width: 20%;
  font-weight: 200;
  margin: 0 -5%;
  top: 15%;
  padding: 15px;
  background-color: rgb(55, 55, 55);
  color: #fff;
}



/* RESPONSIVO */
/* RESPONSIVO */
  
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){      
  .titulo-border .title { font-size: 33px;}
  .column40{
    width: 45%;
    margin: 20px;
    float: left;
  }
  iframe{
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
  
/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
  .titulo-border .title {
    font-size: 23px;
  }
  .contenido-img h2{
    padding: 100px 0px 100px 0px;
    font-size: 45px;
  }
  .column40{
    width: 45%;
    margin: 10px;
    float: left;
  }
  iframe{
    height: 250px;
  }
  .izq p{
    margin-bottom: 10px;
    font-size: 12px;
  }  
  .txtbox{ font-size: 12px;}
}
  
/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
  .contenido-img h2{
    padding: 80px 0px 80px 0px;
    font-size: 35px;
    margin-bottom: 30px;
  }
  .linea001 {
    margin-top: 0%;
    width: 90%;
    margin: 0 5%;
    float: none;
  }
  iframe{
    margin-bottom: 20px;
  }
  .column40{
    width: 100%;
    float: none;
  }
  .izq p{
    margin-bottom: 10px;
    font-size: 13px;
  }
  .izq p i{ margin: 3px;}
  form{width: 94%;}
}
  
/* Teléfonos */
@media only screen and (min-width: 400px) and (max-width: 575px){
  .contenido-img h2{
    padding: 70px 0px 70px 0px;
    font-size: 28px;
    margin-bottom: 30px;
    background-size: cover;
    margin-top: 70px;
  }
  .linea001 {
    margin-top: 0%;
    width: 90%;
    margin: 0 5%;
    float: none;
  }
  iframe{
    margin-bottom: 10px;
    height: 350px;
  }
  .column40{
    width: 100%;
    float: none;
    margin-left: 0px;
  }
  .izq p{
    margin-bottom: 10px;
    font-size: 12px;
  }
  .izq p i{margin: 3px;}
  form{width: 92%;}
}

/* Teléfonos thin */
@media only screen and (min-width: 320px) and (max-width: 399px){
  .contenido-img h2{
    padding: 60px 0px 60px 0px;
    font-size: 28px;
    margin-bottom: 30px;
    background-size: cover;
  }
  .linea001 {
    width: 90%;
    margin: 0 5%;
    float: none;
  }
  iframe{
    margin-bottom: 0px;
    height: 150px;
  }
  .column40{
    width: 100%;
    float: none;
    margin-left: 0px;
  }
  .izq p{
    margin-bottom: 10px;
    font-size: 11px;
  }
  .izq p i{margin: 3px;}
  form{ width: 92%;}
  .txtbox{ font-size: 12px;}
}