<div class="container">
  <div class="contenido-img">
    <h2 class="titulo-nosotros">Contacto</h2>
  </div>

  <div class="linea001">
    <div class="titulo-border">
      <span class="title">
        <span class="resaltado">NUESTRA</span>
        <span class="title-black">UBICACIÓN</span>
      </span>
    </div>
    <div class="mapa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1132.9535854384246!2d-66.14950779196975!3d-17.38794299197495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9b30e3a4c51f3030!2zMTfCsDIzJzE2LjMiUyA2NsKwMDgnNTQuNyJX!5e0!3m2!1ses!2sbo!4v1659465304443!5m2!1ses!2sbo"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <div class="linea001">
    <div class="column40 izq">
      <div class="titulo-border">
        <span class="title">
          <span class="resaltado">DETALLES</span>
          <span class="title-black">DE LA UBICACIÓN</span>
        </span>
      </div>

      <p>
        <i class="fa-solid fa-location-dot"></i>
        Oficina Central: Aniceto Arce #380 frente a la facultad de Medicina UMSS
      </p>
      <p>
        <i class="fa-solid fa-phone"></i>
        (+591) 4534479
      </p>
      <p>
        <i class="fa-solid fa-phone"></i>
        (+591) 72744922
      </p>
      <p>
        <i class="fa-solid fa-envelope"></i>
        contacto@camaralibrocbba.org
      </p>
      <p>
        <i class="fa-solid fa-clock"></i>
        Lunes - Viernes 8:30 a 12:00 y de 14:30 a 18:30
      </p>
    </div>

    <div class="column40 der">
      <div class="titulo-border">
        <span class="title">
          <span class="resaltado">FORMULARIO</span>
          <span class="title-black">DE CONTACTO</span>
        </span>
      </div>

      <form [formGroup]="formulario" (ngSubmit)="guardar()">
        <div class="row">
          <div class="columnder">
            <input
              type="text"
              id="fnombre"
              placeholder="Nombre"
              class="txtbox"
              formControlName="nombre"
              [class.is-invalid]="nombreNoValido"
            />
            <br />
            <small class="text-danger" *ngIf="nombreNoValido">
              Ingrese mas de 3 letras
            </small>
          </div>
        </div>
        <div class="row">
          <div class="columnder">
            <input
              type="text"
              id="femail"
              placeholder="Email"
              class="txtbox space-top"
              formControlName="email"
              [class.is-invalid]="emailNoValido"
            />
            <br />
            <small class="text-danger" *ngIf="emailNoValido">
              Ingrese un correo valido
            </small>
          </div>
        </div>
        <div class="row">
          <div class="columnder">
            <textarea
              name="mensaje"
              id="fmensaje"
              cols="30"
              rows="5"
              class="txtbox space-top"
              placeholder="Mensaje"
              formControlName="mensaje"
              [class.is-invalid]="mensajeNoValido"
            ></textarea>
          </div>
        </div>

        <div class="row boton">
          <button
            type="submit"
            class="btn"
            (click)="guardar()"
            [class.btn-invalid]="formulario.invalid"
            [disabled]="formulario.invalid"
          >
            ENVIAR
          </button>
        </div>
      </form>
    </div>

    <h3
      class="texto"
      [ngClass]="{ err: propiedades.error, advertencia: !propiedades.error }"
    >
      {{ mensaje }}
    </h3>
    <!--Se usa asi-->
  </div>
</div>
