.container{
  margin-top: 9%;
  width: 100%;
  display: flex;
  flex-direction: column; }


  .contenido-img h2{
    font-family: 'Englebert';
    padding: 150px 0px 150px 0px;
    text-align: center;
    color: #fff;
    font-size: 80px;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.184) 0%, rgba(195, 255, 0, 0.173) 100%), url(../../../assets/img/navbar/estudiantes.jpg);
    background-size: 100%;
    background-position-y: top;
    margin-bottom: 50px;
  }


.columnas8020{ display: flex;}

.filtros{
  width: 16%;  
  padding-top: 25px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
}
.filtros .filtro-1 .titulo{ font-weight: 900; height: 50px; font-size: 18px;}
.lista p{ margin-bottom:5px; font-size: 12px;}


.derecha{
  width: 80%;
  /* background-color: rgb(253, 234, 234); */
}
.filtros-categoria{
  background-color: #f7f5c829;
  padding-bottom: 15px;
}

.buscador .buscando {
  font-family: 'Englebert';
  font-size: 35px;
  border-bottom: 2px solid #fbd606;
}

.no-hay{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.termino{
  font-size: 18px;
  padding-left: 10px;
} 


.second, .tabla{
  width: 100%;
  padding-left: 25px;
}

.tabla .book .caja{
  display: flex;
  justify-content: center;
	width: 150px;
}
.tabla .book .caja .box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
	cursor: pointer;
  /* width: 150px; */
  height: 220px;
  margin-bottom: 10px;
}

.tabla .book .caja .box img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .tabla .book .caja .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.tabla .book{ width: 13%; margin-bottom: 50px; padding: 15px 25px 15px 25px; 
  border: 1px dashed #0000003e;
  border-radius: 15px;
  background-color: #fff;
  display: inline-table;
  text-align: center; 
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}
.tabla .book .title {font-size: 12px; margin-bottom: 4px; font-weight: bold; }
.tabla .book .subtitulo{color: #000; font-size: 13px; }
.tabla .book .money{font-family: 'Jost', sans-serif; color: #FF0000; font-weight: bolder; }
.tabla .book .autor{ font-size: 11px; margin: 7px 0px; border: 1px solid #000; padding: 3px;}
 .tabla .book .descripcion {display: none;}
 .tabla .book .btn-book {display: none;}
.mosaicoLista{
  margin-left: 50px;
  border: 1px solid #0000003e;
  padding: 10px;
  border-radius: 7px;
  color: #fbd606;
  font-size: 25px;
}
.lista-book{
  width: 95%;
}
.lista-book .book{
  border: 2px dashed #0000003e;
  margin-bottom: 100px;
  height: 190px;
  padding: 25px 25px 15px 25px;
  border-radius: 15px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.lista-book .book .caja{
  float: left;
  margin-right: 50px;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 180px;
}
.lista-book .book .caja .box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
	cursor: pointer;
  height: 260px;
}

.lista-book .book .caja .box img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .lista-book .book .caja .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.lista-book .book .title {font-size: 20px; font-weight: 600;}
.lista-book .book .subtitulo{color: #000000;font-size: 18px; margin-bottom: 20px;}
.lista-book .book .autor span{ font-size: 13px; margin-top: 3px; border: 1px solid black; padding: 7px;}
.lista-book .book .descripcion p small{ font-size: 10px; margin-top: 3px; padding: 7px 0px; color: #000}
.lista-book .book .descripcion p{ font-size: 12px; margin: 20px 0px 10px 0px; color: #7f7f7f; padding: 0px 30px 0px 0px;}
.lista-book .book .money{font-family: 'Jost', sans-serif; color: #FF0000; font-weight: bolder; font-size: 18px;}
.lista-book .book .btn-book{color: #fff; font-weight: 600; font-size: 15px; background-color: #237b53; border: none; padding: 8px 40px; border-radius: 15px; margin: 10px 0px; }
 



/* PAGINACION */
 .my-pagination ::ng-deep .ngx-pagination .current {
  background-color: #439F41;
}

::ng-deep .ngx-pagination{
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}



/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */


/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 890px) and (max-width: 991px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 889px){

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* Teléfonos */
@media only screen and (min-width: 350px) and (max-width: 580px){

}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 349px){

}
