<div class="contenedor">
  <div class="contenido-img">
    <h2 class="titulo-nosotros">Nosotros</h2>
  </div>

  <div class="linea001 column">
    <div class="texto">
      <div class="titulo-border">
        <span class="title">
          <span class="resaltado">PLANTEL</span>
          <span class="title-black">ADMINISTRATIVO</span>
        </span>
      </div>
    </div>

    <section class="team">
      <div class="izquierda">
        <div class="card">
          <div class="borde">
            <img
              src="../../../assets/img/nosotros/Boris Vladimir Vargas Valencia.jpeg"
              alt="presidente"
            />
          </div>
          <p>BORIS VLADIMIR VARGAS VALENCIA</p>
          <span>Presidente</span>
        </div>
      </div>
      <div class="derecha">
        <div class="Up">
          <div class="card">
            <div class="borde">
              <img
                src="../../../assets/img/nosotros/Julio Secundino Sol[is Vasquez.jpeg"
                alt="e"
              />
            </div>
            <p>JULIO SECUNDINO SOLÍZ VÁSQUEZ</p>
            <span>Presidente</span>
          </div>
          <div class="card">
            <div class="borde">
              <img
                src="../../../assets/img/nosotros/Manuel Cuchallo Velez.jpeg"
                alt="tesorero"
              />
            </div>
            <p>MANUEL CUCHALLO VÉLEZ</p>
            <span>Tesorero</span>
          </div>
          <div class="card maciel">
            <div class="borde">
              <img
                src="../../../assets/img/nosotros/Maciel del Rosario Cuellas Caumol.jpeg"
                alt="secretaria"
              />
            </div>
            <p>MACIEL DEL ROSARIO CUELLAR CAUMEL</p>
            <span>Secretaria</span>
          </div>
        </div>
        <div class="Down">
          <div class="card huascar">
            <div class="borde">
              <img
                src="../../../assets/img/nosotros/Huascar Flores Veizaga.jpeg"
                alt="vocal-por-editores"
              />
            </div>
            <p>HUÁSCAR FLORES VEIZAGA</p>
            <span>Vocal por editores</span>
          </div>
          <div class="card robert">
            <div class="borde">
              <img
                src="../../../assets/img/nosotros/Robert Laura Valera.jpeg"
                alt="vocal-por-librerias"
              />
            </div>
            <p>ROBERT LAURA VALERA</p>
            <span>Vocal por librerías</span>
          </div>
          <div class="card marily">
            <div class="borde">
              <img
                src="../../../assets/img/nosotros/Marily Ortiz Limon.jpeg"
                alt="vocal-por-ovp"
              />
            </div>
            <p>MARILY ORTIZ LIMÓN</p>
            <span>Vocal por O.V.P.</span>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- END linea001 -->

  <div class="linea002 column">
    <div class="texto">
      <div class="titulo-border">
        <span class="title">
          <span class="resaltado">NUESTRA</span>
          <span class="title-black">HISTORIA</span>
        </span>
      </div>
    </div>

    <div class="rowfila1">
      <div class="column50 img-historia">
        <img src="../../../assets/img/nosotros/Directorio.jpg" alt="" />
      </div>

      <div class="column50 textoHis">
        <p>
          Un 25 de marzo del 2008 se llevó a cabo una asamblea general de “La
          Cámara Departamental del Libro de Cochabamba" conformada por asociados
          y representantes de instituciones y empresas dedicadas a la producción
          de libros, revistas y cualquier producción bibliográfica legal.
        </p>
        <br />
        <p>
          Dicha reunión tuvo la finalidad de apoyar, promover e impulsar el
          desarrollo de las actividades relacionadas con la producción de todo
          tipo de material complementario al libro en cualquier formato y
          cualquier tipo de publicación bibliográfica en el departamento.
        </p>
      </div>
    </div>

    <br /><br />
    <br /><br />

    <div class="mision-vision">
      <div class="texto">
        <div class="titulo-border">
          <span class="title">
            <span class="resaltado">NUESTRA</span>
            <span class="title-black">MISIÓN Y VISIÓN</span>
          </span>
        </div>
      </div>

      <div class="wrapper">
        <div class="news">
          <figure class="article">
            <img
              src="../../../assets/img/nosotros/ingasoil-mision-vision.jpg"
            />
            <figcaption>
              <h3>MISIÓN</h3>
              <p>
                Fortalecer el desarrollo de la industria editorial y la cadena
                comercial del libro mediante la protección de la propiedad
                intelectual en el departamento de Cochabamba.
              </p>
            </figcaption>
          </figure>
          <figure class="article">
            <img src="../../../assets/img/nosotros/vision-800x412.jpg" />
            <figcaption>
              <h3>VISIÓN</h3>
              <p>
                Ser la institución líder que representa y defiende la propiedad
                intelectual para fortalecer a toda la cadena del rubro editorial
                y comercial en el departamento Cochabamba.
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
