
.form_wrap{
  display: flex;
  border-radius: 10px;
  overflow: hidden;
	width: 100%;
}

/* Informacion de Contacto*/
.img-perfil{width: 50%;}

 .caja{
  display: flex;
  justify-content: center;
  width: 140px;
  margin-left: 20px;
} .box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  cursor: pointer;
  width: 200px;
  height: 140px;
  border-radius: 50%;
}
 .box img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
 .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.img-perfil img {
  border-radius: 50%;
  border: 6px solid #fff;
  padding: 6px;
  width: 100%;
}
.cantact_info::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: #023102d5;
  opacity: 0.5;
}

.cantact_info{
  width: 38%;
  position: relative;
  background-image: linear-gradient(to top,rgba(10, 40, 0, 0) 0%, rgba(19, 230, 8, 0) 100%), url('../../../assets/img/perfil/form-libro.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;

}

.info_title{
  position: relative;
  z-index: 2;
  margin-top: -100px;
}

.info_title h2{
  font-size: 20px;
  margin-top: 40px;
  padding: 15px 5px 15px 5px;
  font-family: 'Englebert';
  text-align: center;
  color: #000;
  width: 100%;
  background-color: #fff;
}
/* FIN PARTE DEL LA IZQUIERDA */


/* PARTE DERECHA DEL FORMULARIO */
form.agregar-libro{
  width: 62%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.agregar-libro h2{
  font-size: 18px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

.cita_info{
  text-align: center;
}
.cita_info h1{
  font-family: 'Montserrat', sans-serif;
  color: #1A7712;
  font-size: 17px;
  padding-top: 20px;
}
.cita_info .des {font-family: 'Montserrat', sans-serif; font-size: 12px; padding: 10px 15px;}

.col-5{
  width: 80%;
  margin: 0 10%;
  text-align: left;
  margin-bottom: 5px;
}
.col-5 label{
  font-family:'Montserrat', sans-serif; 
  font-size: 11px; 
}
.col-5 div { 
  width: 100%;
}

.txtbox{
  width: 100%;
  border: none;
  padding: 4px 4px 4px 6px;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  background-color: #d9d9d9;
}

.imagen{
  height: 100px;
}

.txtarea{
  width: 95.8%;
  padding: 5px 5px 5px 10px;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  background-color: #d9d9d9;
}
.select{
width: 100%;
background-color: #d9d9d9;
font-family: 'Montserrat', sans-serif;
padding: 5px;
font-size: 12px;
border: none;
border-radius: 8px;
}
.selecto{
background-color: #d9d9d9;
width: 100%;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
padding: 5px;
border: none;
border-radius: 8px;
}

.col-5 .izq-f, .col-5 .der-f {
width: 44.2%;
display: inline-table; 
}
.col-5 .izq-f { 
margin-right: 10%; 
}

.img-book{
padding-top: 10px;
}
.img-book img{
width: 40%;
margin: 0 30%;
}


.enviar{
text-align: center;
text-align: right;
width: 40%;  margin: 0 25%;
padding-top: 15px;
}

.enviar button{
padding: 2px 10px;
background: #1A7712;
border: none;
font-family: 'Englebert';
letter-spacing: 0.5mm;
border-radius: 20px;
width: 100%;
color: #fff;
font-size: 20px;
cursor: pointer;
margin-bottom: 20px
}

.btn-invalid button{
background-color: #647360;
color: #dddddd;
font-weight: 800;
}

.error {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
text-align: center;
position: fixed;
width: 20%;
font-weight: 200;
margin: 0 -5%;
top: 15%;
padding: 15px;
background-color: rgb(55, 55, 55);
color: #fff;
}

/* validacion */
.is-invalid{
color: #ed0c0c;
border: 1px solid #ed0c0c;
}
.obli{
font-size: 17px;
font-weight: bolder;
}
.danger-inva{
font-family: 'Montserrat', sans-serif;
font-size: 10px;
color: #ed0c0c;
margin-top: -10px;
}
/* fin validacion */

/* FIN PARTE DERECHA DEL FORMULARIO */


.oculto{
  display: none
}


