<!-- <h1 mat-dialog-title>Usuario</h1> -->
<div mat-dialog-container>
  <div class="form_wrap">
    <section class="cantact_info">
      <section class="info_title">
        <div class="img-perfil">
          <div class="caja">
            <div class="box">
              <img [src]="usuario.imageUrl" alt="" />
            </div>
          </div>
        </div>
        <h2>{{ usuario.nombre }}</h2>
      </section>
    </section>

    <form [formGroup]="formLibro" class="agregar-libro">
      <div class="cita_info">
        <h1>AÑADE TU LIBRO</h1>
        <p class="des">
          Añade libros para vender y paga una pequeña tarifa anual para
          mostrarlos
        </p>

        <!-- titulo subtitulo -->
        <div class="col-5">
          <div class="izq-f">
            <label for="titulo" class="lbl" [class.danger-inva]="false"
              >Titulo <span class="obli">*</span></label
            >
            <div>
              <input
                type="text"
                id="ftitulo"
                class="txtbox"
                formControlName="titulo"
                [class.is-invalid]="false"
                [readOnly]=""
              />
            </div>
          </div>

          <div class="der-f">
            <label for="subtitulo" class="lbl">Subtitulo</label>
            <div>
              <input
                type="text"
                id="fsubtitulo"
                class="txtbox"
                formControlName="subtitulo"
              />
            </div>
          </div>
        </div>

        <!-- Autor nombre -->
        <div class="col-5">
          <div class="izq-f">
            <label for="ftitulo" class="lbl" [class.danger-inva]="false"
              >Autor <small>(nombre)</small> <span class="obli">*</span></label
            >
            <div>
              <input
                type="text"
                id="ftitulo"
                class="txtbox"
                formControlName="autor"
                [class.is-invalid]="false"
              />
            </div>
          </div>

          <div class="der-f">
            <label for="des" class="lbl">N° páginas (opcional)</label>
            <div>
              <input
              type="number"
              id="fn-paginas"
              class="txtarea"
              formControlName="n_paginas"
            />
            </div>
          </div>
        </div>

        <!-- descripcion -->
        <div class="col-5 descripcion-top">
          <label for="des" class="lbl" [class.danger-inva]="false"
            >Descripción <span class="obli">*</span></label
          >
          <div class="descripcion">
            <textarea
              class="txtarea"
              name="descripcion"
              id="des"
              cols="30"
              rows="3"
              formControlName="descripcion"
              [class.is-invalid]="false"
            ></textarea>
          </div>
        </div>

        <!-- precio año publicacion -->
        <div class="col-5">
          <div class="izq-f">
            <label for="fprecio" class="lbl" [class.danger-inva]="false"
              >Precio <small>(Bs.)</small> <span class="obli">*</span></label
            >
            <div>
              <input
                type="number"
                id="fprecio"
                class="txtbox"
                formControlName="precio"
                [class.is-invalid]="false"
              />
            </div>
          </div>
          <div class="der-f">
            <label for="fanio_publicacion" class="lbl"
              >Año de publicación</label
            >
            <div>
              <input
                type="number"
                id="fanio_publicacion"
                class="txtbox"
                formControlName="date_publicacion"
              />
            </div>
          </div>
        </div>

        <!-- formato y categoria -->
        <div class="col-5">
          <div class="izq-f">
            <label for="fformato" class="lbl">Formato *</label>
            <div>
              <select class="select" formControlName="formato">
									<option value="">Seleccione una Opcion</option>
                <option
                  *ngFor="let item of formato"
                  class="option"
                  [value]="item"
                >
                  {{ item }}
                </option>
              </select>
            </div>
          </div>

          <div class="der-f">
            <label for="fcategoria" class="lbl" [class.danger-inva]="false"
              >Categoría <span class="obli">*</span></label
            >
            <div> 
              <select
                class="select"
                formControlName="categoria"
                [class.is-invalid]="false"
              >
									<option value="">Seleccione una Opcion</option>
                <option
                  *ngFor="let item of readCategoria"
                  class="option"
                  [value]="item._id"
                >
                  {{ item.categoria }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- imagen -->
        <div class="col-5" *ngIf="ocultarImagen">
          <label
            for="fimagenes"
            class="lbl-img"
            [class.danger-inva]=""
            >Imagen <span class="obli">*</span></label
          >
          <br />
          <!-- formControlName="img" -->
          <input
            type="file"
            #fileInput
            class="txtbox oculto"
            accept="image/*"
            (change)="onSelect($event)"
            placeholder="Imagen"
            [class.is-invalid]=""
            readonly
          />

          <div class="img-book">
            <img [src]="seleccionado || 'https://png.pngtree.com/element_our/20190528/ourlarge/pngtree-hand-drawn-cartoon-yellow-open-book-image_1185892.jpg'" title="Profile Picture" class="foto-libro imagen cursor" (click)="fileInput.click()"/>
          </div>
        </div>
        <br />

        <!-- estado y edad del publico -->
        <div class="col-5">
          <div class="izq-f">
            <label for="fcategoria" class="lbl">Estado</label>
            <div>
              <select class="select" formControlName="estado">
									<option value="">Seleccione una Opcion (opcional)</option>
                <option
                  *ngFor="let item of estado"
                  class="option"
                  [value]="item"
                >
                  {{ item }}
                </option>
              </select>
            </div>
          </div>

          <div class="der-f">
            <label for="fcategoria" class="lbl">Edad Público</label>
            <div>
              <select class="selecto" formControlName="edad_publico">
									<option value="">Seleccione una Opcion (opcional)</option>
                <option *ngFor="let item of edad" class="option" [value]="item">
                  {{ item }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- numero de paginas -->
        <!-- <div class="col-5">
          
          <div class="descripcion">
            
          </div>
        </div> -->

        <div class="col-5">
            <label for="fidioma" class="lbl" [class.danger-inva]="false"
            >Idioma <span class="obli">*</span></label
          >
            <div> 
              <select
            class="selecto"
            formControlName="idioma"
            [class.is-invalid]="false"
          >
									<option value="">Seleccione una Opcion</option>
            <option *ngFor="let item of idioma" class="option" [value]="item">
              {{ item }}
            </option>
          </select>
            </div>
        </div>

      </div>

      <div class="enviar">
        <button
          type="submit"
          (click)="CrearLibro()"
          [class.btn-invalid]="false"
        >
          {{ mensajeBoton }}
        </button>
      </div>
    </form>

    <!-- <h3
      class="snackbar"
      [ngClass]="{ error: Snack.error, advertencia: !Snack.error }"
    >
      {{ mensaje }}
    </h3> -->
  </div>
</div>
<!-- 
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    color="primary"
  >
    {{mensajeBoton}}
  </button>
</div> -->

<!-- <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field> -->

<!-- <mat-form-field class="example-full-width">
      <mat-label>Message</mat-label>
      <input
				formControlName="mensajelargo"
        matInput
        #message
        maxlength="256"
        placeholder="Ex. I need help with..."
      />
      <mat-hint align="start"
        ><strong>Don't disclose personal info</strong>
      </mat-hint>
      <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
    </mat-form-field> -->

<!-- <mat-label><h1>Producto Fresco</h1></mat-label>
    <mat-radio-group formControlName="opcion" class="example-radio-group">
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let item of usuarios"
        [value]="item"
      >
        {{ item }}
      </mat-radio-button>
    </mat-radio-group>
     -->

<!-- <mat-form-field appearance="fill" class="size">
      <input
				formControlName="fecha"
        matInput
        [matDatepicker]="picker"
				placeholder="Selecciona una Fecha"
				readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field> -->

<!-- 

<form [formGroup]="usuariosForm">
	<div class="example-container">
		<mat-form-field hintLabel="Caracteres" appearance="fill">
			<mat-label>Nombre</mat-label>
			<input
				formControlName="nombre"
				matInput
				#input
				maxlength="30"
				placeholder="Nombre del Usuario"
			/>
			<mat-hint align="end">{{ input.value.length }}/30</mat-hint>
			<mat-error *ngIf="campoNoValido('nombre')"
				>Ingrese un Nombre Válido</mat-error
			>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Correo</mat-label>
			<input
				formControlName="email"
				matInput
				placeholder="libro@ejemplo.com"
				required
			/>
			<mat-error *ngIf="campoNoValido('email')"
				>Ingrese un Correo Válido</mat-error
			>
		</mat-form-field>
	</div>

	<div class="example-container">

		<mat-form-field appearance="fill">
			<mat-label>Categoria</mat-label>
			<mat-select formControlName="categoria">
				<mat-option [value]="'Autor'">Autor</mat-option>
				<mat-option [value]="'Editorial'">Editorial</mat-option>
				<mat-option [value]="'Libro'">Distribuidora</mat-option>
			</mat-select>
			<mat-hint align="end"></mat-hint>
			<mat-error *ngIf="campoNoValido('categoria')"
				>Ingrese Una Categoria Válida</mat-error
			>
		</mat-form-field>
		

		<mat-form-field appearance="fill" floatLabel="always">
			<mat-label>Monto de Cuenta</mat-label>
			<input
				formControlName="coin"
				matInput
				type="number"
				class="example-right-align"
			/>
			<span matTextPrefix>Bs. &nbsp;</span>
			<mat-error *ngIf="campoNoValido('coin')"
				>Ingrese Un Valor Adecuado</mat-error
			>
		</mat-form-field>
	</div>

	<div class="example-container">

		<mat-form-field hintLabel="Caracteres" appearance="fill">
			<mat-label>Página Web</mat-label>
			<input
				formControlName="page_web"
				matInput
				#input
				maxlength="20"
				placeholder="Sitio Web Personal"
			/>
			<mat-hint align="end">{{ input.value.length }}/20</mat-hint>
			<mat-error *ngIf="campoNoValido('page_web')"
				>Ingrese Una Dirección URL Correcta</mat-error
			>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Dirección</mat-label>
			<textarea
				formControlName="direccion"
				#message
				maxlength="100"
				placeholder="Agrega La dirección de tu (Negocio, Empresa)"
				matInput
			></textarea>
			<mat-hint align="end">{{ message.value.length }} / 100</mat-hint>
			<mat-error *ngIf="campoNoValido('page_web')"
				>Ingrese Una Ubicación Válida</mat-error
			>
		</mat-form-field>
	</div>

	<div class="example-container">
		<mat-form-field class="example-full-width">
			<mat-label>Celular</mat-label>
			<span matPrefix>+591 &nbsp;</span>
			<input type="tel" formControlName="celular" matInput placeholder="555-555-55 ejemplo">
			<mat-icon matSuffix>phone_iphone</mat-icon>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<mat-label>Celular Secundario</mat-label>
			<span matPrefix>+591 &nbsp;</span>
			<input type="tel" formControlName="celular2" matInput placeholder="555-555-55 ejemplo">
			<mat-icon matSuffix>phone_iphone</mat-icon>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<mat-label>Telefono</mat-label>
			<span matPrefix>&nbsp;</span>
			<input type="tel" formControlName="telefono" matInput placeholder="555-555-55 ejemplo">
			<mat-icon matSuffix>add_call</mat-icon>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<mat-label>Telefono Secundario</mat-label>
			<span matPrefix>&nbsp;</span>
			<input type="tel" formControlName="telefono2" matInput placeholder="555-555-55 ejemplo">
			<mat-icon matSuffix>add_call</mat-icon>
		</mat-form-field>
	</div>
</form> -->
