

<div class="container">

  <div class="contenido-img">
    <h2 class="titulo-nosotros">DATOS DEL LIBRO</h2>
  </div>


  <div class="datos">

      <div class="titulo">
        <p>{{readLibro.titulo}}</p>
      </div>
      <hr>

      <div class="column50">
        <br>
        <div class="columnIzq">
          <br>
          <img [src]="readLibro.img | imagen: 'libros'" alt="">
        </div>
        <div class="columnDer">
            Precio
          <p class="dat-precio">Bs {{ readLibro.precio }} </p>
          <br><br><br>
          <p class="contactarse">
            
            <a [href]="link">
              <i class="fa-brands fa-square-whatsapp"></i> 
              <span>CONTACTARSE CON LA EDITORIAL </span>
            </a>
					</p>
          <br>
          <p class="nombre">{{ readLibro.usuario.nombre }}</p>
          <br><br><br>
          <ul>
            <li><i class="fa-solid fa-circle"></i> {{ readLibro.usuario.celular }}</li>
            <li><i class="fa-solid fa-circle"></i> {{ readLibro.usuario.celular }}</li>
            <li><i class="fa-solid fa-circle"></i> {{ readLibro.usuario.celular }}</li>
            <li><i class="fa-solid fa-circle"></i> {{ readLibro.usuario | json }}</li>
            <li><i class="fa-solid fa-circle"></i> https://.facebook.com/libreriaraffo</li>
          </ul>
          <br><br>

          <p>
            {{ readLibro.descripcion }}
          </p>
        </div>
      </div>

  </div>

</div>

<br><br><br><br><br>