.container{
  margin-top: 9%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.contenido-img h2{
  font-family: 'Englebert';
  padding: 100px 0px 100px 0px;
  text-align: center;
  color: #fff;
  font-size: 60px;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.184) 0%, rgba(195, 255, 0, 0.173) 100%), url(../../../assets/img/navbar/estudiante.jpg);
  background-size: cover;
  background-position-y: top;
  margin-bottom: 50px;
}

.datos{
  width: 80%;
  margin: 0 auto;
}
.datos .titulo p{
  font-family: 'Englebert';
  font-size: 40px;
}
.column50{
  padding-top: 10px;
  width: 100%;
}
.column50 .columnIzq { width: 45%; float: left; margin-right: 15px; }
.column50 .columnIzq img{ width: 90%; }
.column50 .columnDer {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
.column50 .columnDer .dat-precio{
  font-weight: 700;
  font-family: 'Jost', sans-serif;
  font-size: 25px;
}

a{
  height: 20px;
  display:flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  text-decoration: none; padding: 10px 0px;}
.column50 .columnDer .contactarse a span{background-color: #13b62b; color: #fff; padding: 10px 17px; text-decoration: none; border-radius: 5px; }
.column50 .columnDer .nombre{ font-weight: 600; }
.column50 .columnDer .contactarse a i {color: #13b62b; font-size: 40px; margin-right: 7px; }

.column50 .columnDer ul{
  padding: 0px;
  list-style: none;
}
.column50 .columnDer ul li{ margin-bottom: 10px; }
.column50 .columnDer ul li i{ font-size: 8px; margin-right: 5px; }