<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
  </button>
  <span>Administración de Los Usuarios de La Plataforma</span>
  <span class="example-spacer"></span>
  <!-- <button mat-raised-button color="warn" (click)="openDialog()">AGREGAR</button> -->
</mat-toolbar>

<div *ngIf="cargando" class="cajon">
	<div class="loadingio-spinner-spinner-035nnm7w7w2m">
		<div class="ldio-7nhg2x2vkmt">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>


<div class="tabla-material" *ngIf="!cargando">
	<mat-form-field>
		<mat-label>Filtrar Por... </mat-label>
		<input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo (nombre, email... etc)" #input>
	</mat-form-field>
	<div class="mat-elevation-z8">
	<table mat-table [dataSource]="dataSource" matSort>
	
		<ng-container matColumnDef="nombre">
			<th mat-header-cell *matHeaderCellDef> Nombre</th>
			<td mat-cell *matCellDef="let row"> {{row.nombre}}</td>
				
		</ng-container>
	
		<ng-container matColumnDef="email">
			<th mat-header-cell *matHeaderCellDef> Correo </th>
			<td mat-cell *matCellDef="let row"> {{row.email}} </td>
		</ng-container>

		<ng-container matColumnDef="categoria">
			<th mat-header-cell *matHeaderCellDef> Categoria </th>
			<td mat-cell *matCellDef="let row"> {{row.categoria}}</td>
		</ng-container>

		<!-- <ng-container matColumnDef="role">
			<th mat-header-cell *matHeaderCellDef> Rol del Usuario </th>
			<td mat-cell *matCellDef="let row"> {{row.role}}</td>
		</ng-container> -->

		<ng-container matColumnDef="coin">
			<th mat-header-cell *matHeaderCellDef> Moneda Virtual </th>
			<td mat-cell *matCellDef="let row">Bs {{row.coin}}</td>
		</ng-container>

		<!-- <ng-container matColumnDef="google">
			<th mat-header-cell *matHeaderCellDef> Autenticado Por... </th>
			<td mat-cell *matCellDef="let row"> {{row.google}}</td>
		</ng-container> -->
	
		<ng-container matColumnDef="celular">
			<th mat-header-cell *matHeaderCellDef> Celular </th>
			<td mat-cell *matCellDef="let row"> {{row.celular}} </td>
		</ng-container>
		
		<ng-container matColumnDef="celular2">
			<th mat-header-cell *matHeaderCellDef> Celular 2 </th>
			<td mat-cell *matCellDef="let row"> {{row.celular2}} </td>
		</ng-container>
	
		<ng-container matColumnDef="telefono">
			<th mat-header-cell *matHeaderCellDef> Telefono </th>
			<td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
		</ng-container>

		<ng-container matColumnDef="telefono2">
			<th mat-header-cell *matHeaderCellDef> Telefono 2 </th>
			<td mat-cell *matCellDef="let row"> {{row.telefono2}}</td>
		</ng-container>

		<ng-container matColumnDef="page_web">
			<th mat-header-cell *matHeaderCellDef> Página Web </th>
			<td mat-cell *matCellDef="let row"> {{row.page_web}}</td>
		</ng-container>

		<ng-container matColumnDef="direccion">
			<th mat-header-cell *matHeaderCellDef> Dirección </th>
			<td mat-cell *matCellDef="let row"> {{row.direccion}}</td>
		</ng-container>

		<ng-container matColumnDef="img">
			<th mat-header-cell *matHeaderCellDef> Imagen </th>
			<td mat-cell *matCellDef="let row">
            <img
            [src]="row.img | imagen: 'usuarios'"
            alt=""
            class="img-avatar"
            />
			</td>
		</ng-container>

		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
			<td mat-cell *matCellDef="let row"> {{row.createdAt }}</td>
		</ng-container>
		<ng-container matColumnDef="updatedAt">
			<th mat-header-cell *matHeaderCellDef> Fecha de Actualización </th>
			<td mat-cell *matCellDef="let row"> {{row.updatedAt }}</td>
		</ng-container>
		

		<ng-container matColumnDef="accion">
			<th mat-header-cell *matHeaderCellDef> Ediciones </th>
			<td mat-cell *matCellDef="let row">
				<button mat-icon-button color="primary" (click)="editarUsuario(row)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" (click)="borrarUsuario(row.uid)">
					<mat-icon>delete</mat-icon>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">No se encontraron Resultados Para: "{{input.value}}"</td>
		</tr>
	</table>
	<mat-paginator
									[pageSizeOptions]="[5, 10, 20, 30, 50]"
                 showFirstLastButtons
                 aria-label="Label">
  </mat-paginator>
</div>