
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');


.contenido-img h2{
  font-family: 'Englebert';
  padding: 150px 0px 150px 0px;
  text-align: center;
  color: #fff;
  font-size: 80px;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.184) 0%, rgba(195, 255, 0, 0.173) 100%), url(../../../assets/img/navbar/estudiantes1.jpg);
  background-size: 100%;
  background-position-y: top;
  margin-bottom: 50px;
}

.container{
  margin-top: 9%;
  width: 100%;
}

/* @import url('https://fonts.googleapis.com/css?family=Just+Another+Hand'); */
/* ENGLEBERT */

#i1, #i2, #i3, #i4, #i5{ display: none;}


/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/

.encabezado{
  position: absolute;
  font-size: 48px;
  font-family: 'Englebert';
  margin-top: -12%;
  margin-left: 10%;
  font-weight: bold;
	text-shadow: 2px 2px 2px #fff, 0 0 10px #fff, 0 0 0.2em #fff;
}

.encabezadoverde{
  position: absolute;
  margin-top: -8%;
  color: #1A7712;
}

/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/


.contenido-img{
	position: relative;
  width: 100%;
	}

	.contenido-img .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.contenido-img .slide_img img{
		width: 100%;
	}

	 .prev, .next{
		width: 10%;
		position: absolute;
		top:15px; 
		background-color: #58585833;
		color:#f4f4f4e6;
		z-index: 99;
		transition: .45s;
		cursor: pointer;
    margin-top: 200px;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: #585859cc;
		color: #ffffff; 
	}

.contenido-img #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	width: 18px;
	height: 18px;
	margin: 0 4px;
  margin-top: 31%;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #b5b5b585;
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #ffffffe6;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: #ffffffe6;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		


/*CONTENIDO INDEX*/
.container{
  display: flex;
  flex-direction: column;
}

/* ========================================== */
/* =============== PERFILES ================= */
/* ========================================== */
.perfiles{
  width: 90%;
  margin: 30px auto;
}

.perfil{
  display: inline-table;
  width: 15%;
  margin:0 auto;
  margin: 30px;
}
.perfil img{
  border-radius: 50%;
  width: 100%;
}
.perfil .nombre{
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto Serif', serif;
  font-weight: 500;
}
.perfil button{
  background-color: transparent;
  border: none;
  font-size: 17px;
  color: #6A6A6A;
  font-family: 'Roboto Serif', serif;
  width: 100%;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
}
.perfil .caja{
  display: flex;
  justify-content: center;
	width: 200px;
  border-radius: 50%;
}
.perfil .caja .box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
	cursor: pointer;
  background-color: transparent;
  /* width: 200px; */
  height: 200px;
  margin-bottom: 10px;
}

.perfil .caja .box img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .perfil .caja .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}


/* fin
PERFILES
PERFILES
PERFILES
PERFILES
   fin */



.libroEditorial{
    display: flex;
  width: 90%;
  margin: 0 auto;
}

/* ================== CARD ==================== */
/* ================== CARD ==================== */
/* ================== CARD ==================== */
.editorial-info{
  width: 25%;
  margin-right: 40px;
  margin-top: 100px;
}

.card{
  border-radius: 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.171) 4px 4px 10px;
}
.back{
  padding: 40px 20px 10px 20px;
}
.columnaizq{
  border-bottom: 2px solid black;
}
.columnaizq p{
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px 20px 10px;
  font-size: 18px;
  font-weight: 600;
}

.columnaizq img{
	width: 40%;
  margin: 0 25%;
	border-radius: 100%;
	padding: 3px;
	border: 4px solid #fff;
	background-color: #000;
	outline: 4px solid #000;
}

/* DATOS DEL BACK */
.columnader{
  text-align: center;
}
.columnader .name{
	font-size: 17px;
  margin-top: 14px;
  margin-bottom: 3px;
  font-weight: bolder;
	/* color: #acacac; */
	font-family: 'Montserrat', sans-serif;
}
.columnader small {
	font-size: 15px;
  font-weight: 600;
}
ul{
	margin-top: 40px;
	text-align: left;
}
li {
  color: #000;
  list-style: none;
  font-size: 14px;
	margin-left: -25px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.sub{
  font-weight: 500;
  margin-right: 10px;
}
.sub i{
  font-size: 12px;
}

/* inicio 
LIBROS EDITORIAL 
   inicio */
   .editorial-libros{
    width: 71%;
   }
  .caja{
    display: flex;
    justify-content: center;
    width: 150px;
  }
  .box{
    /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
    cursor: pointer;
    width: 200px;
    height: 220px;
    margin-bottom: 10px;
    background: rgb(189, 152, 152);
  }
  
  .box img{
    width: 100%;
    height: auto;
  }
  
  @supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .book{ width: 10%; margin-bottom: 50px; padding: 15px 25px 5px 25px; 
    border: 1px dashed #0000003e;
    border-radius: 15px;
    text-align: center;
    background-color: #fff;
    display: inline-table;
    margin: 16px;
  }
  .book .title-book {text-align: center; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 17px; margin-bottom: 3px; 
  }
  .book .autor{color: #5b5b5b; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 600; margin-bottom: 6px; 
  }
  .book .money-book{font-family: 'Jost', sans-serif; text-align: center; color: #FF0000; font-weight: bolder; 
  }
/* fin 
LIBROS EDITORIAL  
   fin*/



/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */


/* Escritorio grande */
@media only screen and (min-width: 1200px) and (max-width: 1460px){

  .editorial-libros{
    width: 74%;
   }

}

/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){
  .encabezado{
    font-size: 38px;
  }
  .prev, .next{
    margin-top: 140px;
	}
  .next{right:40px;}

.perfil{
  width: 14%;
  margin: 25px;
}
.perfil .nombre{
  font-size: 15px;
}
.perfil button{
  font-size: 12px;
}


/* CARD */
.editorial-info{
  width: 30%;
  margin-right: 40px;
}
.back{
  padding: 30px 10px 10px 10px;
}
.columnaizq p{
  padding: 7px 7px 15px 7px;
  font-size: 16px;
}
.columnader .name{
	font-size: 15px;
  margin-top: 12px;
  margin-bottom: 0px;
}
.columnader ul li{
  font-size: 12px;
}
.columnader ul{
  margin-left: -7px;
  margin-top: 20px;
}
/* FIN CARD */


/* LIBROS DE EDITORIL */
.editorial-libros{
  width: 100%;
 }
.caja{
  width: 130px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  width: 120px;
  height: 160px;
}

.book{ width: 9%;  padding: 10px 10px 5px 10px; 
  border-radius: 10px;
  display: inline-table;
  margin: 7px;
}
.book .title-book {font-weight: 700; font-size: 13px;
}
.book .autor{font-size: 12px;  margin-bottom: 4px; font-weight: 500; 
}
.book .money-book{ font-size: 15px;}
/* FIN LIBROS EDITORIAL */

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
  .prev, .next{
    margin-top: 90px;
	}
	.next{right:40px;}

  .encabezado{
    font-size: 28px;
  }

.perfil{
  width: 17%;
  margin: 25px;
  height: 200px;
}
.perfil .nombre{
  font-size: 13px;
}
.perfil button{
  font-size: 12px;
}

/* CARD */
.editorial-info{
  width: 35%;
  margin-right: 30px;
}
.back{
  padding: 30px 10px 10px 10px;
}
.columnaizq p{
  font-size: 15px;
}
.columnader .name{
	font-size: 13px;
  margin-top: 12px;
  margin-bottom: 0px;
}
.columnader ul li{
  font-size: 11px;
}
.columnader ul{
  margin-left: -7px;
  margin-top: 20px;
}
/* FIN CARD */
  


/* LIBROS DE EDITORIL */
.editorial-libros{
  width: 100%;
 }

.caja{
  width: 86px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  width: 90px;
  height: 120px;
}

.book{ width: 9%;  padding: 10px 10px 5px 10px; 
  margin: 5px;
}
.book .title-book {font-weight: 700; font-size: 11px;
}
.book .autor{font-size: 10px;  margin-bottom: 4px; font-weight: 500; 
}
.book .money-book{ font-size: 12px;}
/* FIN LIBROS EDITORIAL */


}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

  .prev, .next{
    margin-top: 70px;
	}
	.next{right:40px;}

  .encabezado{
    font-size: 22px;
    margin-left: 15%;
  }
  .perfil{
    width: 18%;
    margin: 18px;
    height: 200px;
  }
  .perfil .nombre{
    font-size: 12px;
  }
  .perfil button{
    font-size: 12px;
  }


  /* CARD */
  .libroEditorial{
    display: block;
  width: 90%;
  margin: 0 auto;
}
.libroEditorial{
  margin-top: 30px;
}
.editorial-info{
  width: 80%;
  margin: 0 auto;
}
.back{
  padding: 10px 0px;
  display: flex;
}

.columnaizq {
  border-right: 2px solid black;
  border-bottom: none;
  width: 30%;
  padding: 20px 0px 0px 0px;
}
.columnaizq p{
  font-size: 12px;
}
.columnader{
  width: 65%;
  padding: 10px;
}
.columnader .name{
	font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.columnader ul li{
  font-size: 12px;
  margin-bottom: 10px;
}
.columnader ul{
  margin-left: -7px;
  margin-top: 20px;
}
/* FIN CARD */



/* LIBROS DE EDITORIL */
.editorial-libros{
  width: 100%;
 }
.caja{
  width: 102px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  width: 110px;
  height: 140px;
}

.book{ width: 9%;  padding: 10px 10px 5px 10px; 
  margin: 5px;
}
.book .title-book {font-weight: 700; font-size: 11px;
}
.book .autor{font-size: 10px;  margin-bottom: 3px; font-weight: 500; 
}
.book .money-book{ font-size: 13px;}
/* FIN LIBROS EDITORIAL */

  
}

/* Teléfonos */
@media only screen and (min-width: 370px) and (max-width: 575px){
  .prev, .next{
    margin-top: 50px;
	}
	.next{right:40px;}
	label span{
		font-size: 50pt;
	}

  .encabezado{
    font-size: 20px;
    margin-left: 15%;
  }
  .encab{
    margin-top: -3%;
  }
  .encabezadoverde{
  padding-top: 7px;
  }

#nav_slide .dots{
	width: 12px;
	height: 12px;
}
.titulo-border{
  margin-left: 15px;
}
.perfiles{
  width: 100%;
}
.perfil{
  width: 25%;
  margin: 15px;
  height: 100px;
}
.perfil .nombre{
  font-size: 11px;
}
.perfil button{
  font-size: 10px;
}


  /* CARD */
  .libroEditorial{
    display: block;
  width: 90%;
  margin: 0 auto;
}

.editorial-info{
  width: 100%;
}
.back{
  padding: 10px 0px;
  display: flex;
}

.columnaizq {
  border-right: 2px solid black;
  border-bottom: none;
  width: 30%;
  padding: 20px 0px 0px 0px;
}
.columnaizq p{
  font-size: 11px;
}
.columnader{
  width: 65%;
  padding: 10px;
}
.columnader .name{
	font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.columnader ul li{
  font-size: 11px;
  margin-bottom: 10px;
}
.columnader ul{
  margin-left: -7px;
  margin-top: 10px;
}


.columnaizq img{
  width: 45%;
  margin: 0 24%;
	padding: 2px;
	border: 4px solid #fff;
	background-color: #000;
	outline: 3px solid #000;
}
/* FIN CARD */


/* LIBROS DE EDITORIL */
.editorial-libros{
  width: 110%;
  margin-left: -17px;
  /* background-color: #0000003e; */
 }
 .editorial-info{
  margin-top: 20px;
}
.caja{
  width: 60px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  width: 100px;
  height: 100px;
}

.book{ width: 9%;  padding: 10px 10px 5px 10px; 
  margin: 0 5px;
}
.book .title-book {font-weight: 700; font-size: 9px;
}
.book .autor{font-size: 9px;  margin-bottom: 3px; font-weight: 500; 
}
.book .money-book{ font-size: 10px;}
/* FIN LIBROS EDITORIAL */



}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 369px){
  .prev, .next{
    margin-top: 50px;
	}
	.next{right:40px;}
	label span{
		font-size: 50pt;
	}

  .encabezado{
    font-size: 20px;
    margin-left: 15%;
  }
  .encab{
    margin-top: -3%;
  }
  .encabezadoverde{
  padding-top: 7px;
  }

#nav_slide .dots{
	width: 12px;
	height: 12px;
}
.titulo-border{
  margin-left: 15px;
}
.perfiles{
  width: 100%;
  margin-top: 10px;
  /* background-color: #0000003e; */
}
.perfil{
  width: 25%;
  margin: 12px;
  height: 100px;
}
.perfil .nombre{
  font-size: 10px;
}
.perfil button{
  font-size: 9px;
}




  /* CARD */
  .libroEditorial{
    display: block;
  width: 90%;
  margin: 0 auto;
}
.libroEditorial{
  margin-top: 30px;
}
.editorial-info{
  width: 100%;
}
.back{
  padding: 10px 0px;
  display: flex;
}

.columnaizq {
  border-right: 2px solid black;
  border-bottom: none;
  width: 30%;
  padding: 20px 0px 0px 0px;
}
.columnaizq p{
  font-size: 9px;
}
.columnader{
  width: 65%;
  padding: 10px 10px 0px 10px;
}
.columnader .name{
	font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.columnader ul li{
  font-size: 9px;
  margin-bottom: 10px;
}
.columnader ul{
  margin-left: -7px;
  margin-top: 0px;
}


.columnaizq img{
  width: 45%;
	padding: 2px;
	border: 3px solid #fff;
	background-color: #000;
	outline: 3px solid #000;
}

/* FIN CARD */


/* LIBROS DE EDITORIL */
.editorial-libros{
  width: 110%;
  margin-left: -17px;
  /* background-color: #0000003e; */
 }
 .editorial-info{
  margin-top: -10px;
}
.caja{
  width: 62px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  width: 100px;
  height: 100px;
}

.book{ width: 9%;  padding: 10px 10px 5px 10px; 
  margin: 10px;
}
.book .title-book {font-weight: 700; font-size: 9px;
}
.book .autor{font-size: 9px;  margin-bottom: 3px; font-weight: 500; 
}
.book .money-book{ font-size: 10px;}
/* FIN LIBROS EDITORIAL */

}
