<div class="container">
  
  <div class="contenido-img">
    <h2 class="titulo-nosotros">Editoriales</h2>
  </div>
  <div class="libroEditorial">
    
    <!-- <div class="editorial-info mitad">
      
      <div class="card">
              <div class="back">
                
                <div class="columnaizq">
                  <img src="../../../assets/img/asociados/casaEditorialBienaventuranzas_copia.png" />
                  <br>
                  <p>{{ vendedor.nombre }}</p>
                </div>
                
                <div class="columnader">
                    <p class="name">{{ vendedor.categoria }}</p>
                    <small>Editorial</small>
                    <br>
                  <ul>
                    <li *ngIf="vendedor.direccion !== ''"><span class="sub"><i class="fa-solid fa-location-dot"></i></span>{{ vendedor.direccion }}</li>
                    <li *ngIf="vendedor.telefono1 !== ''"><span class="sub"><i class="fa-solid fa-phone"></i></span>{{ vendedor.telefono1 }}</li>
                    <li *ngIf="vendedor.correo1 !== ''"><span class="sub"><i class="fa-solid fa-envelope"></i></span>{{ vendedor.correo1 }}</li>
                    <li *ngIf="vendedor.pagina !== ''"><span class="sub"><i class="fa-solid fa-envelope"></i></span>{{ vendedor.pagina }}</li>
                    
                  </ul>
                </div>
                                  
              </div>
      </div>  
    </div> -->

    <div class="editorial-libros mitad">

      <div class="titulo-border">
        <span class="title">
          <span class="resaltado">SUS</span>
          <span class="title-black"> LIBROS:</span>
        </span>
      </div>

      <div class="book" *ngFor="let item of libros">
        <div class="caja">
          <div class="box" >
            <img [src]="item.img | imagen: 'libros'" alt="img-book">
          </div>
        </div>

        <div class="title-book">
          {{ item.titulo }}
        </div>
        <div class="autor">
          <span>{{item.autor}} </span>
          <span>{{item.descripcion}} </span>
        </div>
        <div class="money-book">
          <p>{{item.precio}} Bs</p>
        </div>
        <br>
      </div>

    </div>

  </div>


  <div class="perfiles">

    <div class="titulo-border">
      <span class="title">
        <span class="resaltado">NUESTROS</span>
        <span class="title-black">ASOCIADOS</span>
      </span>
    </div>

      <div class="perfil" *ngFor="let element of lista">
        <div class="caja">
          <div class="box">
            <img [src]="element.img | imagen: 'usuarios'" alt="">
          </div>
        </div>

        <div class="nombre">
          <p>{{element.nombre}}</p>
        </div>

        <button (click)="ObtenerLibros(element.uid)">+ Ver libros...</button>
      </div>

  </div>



</div>