.example-card {
  max-width: 70%;
  margin-bottom: 8px;
}
.pablo-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.cambiar-foto-book{ text-align: center; padding: 15px; background-color: #26930e51; }

.mensaje-habilitacion{
	color: green;
	font-weight: 700;
	font-size: 15px;
}

.habilitar-btn{
	width: 25%;
	margin: 20px auto;
}