<div class="titulo">
  Edita tu información
</div>
  <hr>

<div mat-dialog-container>
  <div>
    <div>
      <form [formGroup]="perfilForm" class="editar-perfil">

        <ul>
          <div class="fila-izq">
            <li class="dat dat-nombre">
              <div class="titu">Nombre:</div>
              <input
                type="text"
                id="fnombre"
                placeholder="Nombre"
                formControlName="nombre"
                [readonly]="true"
              />
            </li>
            <li class="dat dat-correo">
              <div class="titu">Correo electrónico:</div>
              <input
                type="email"
                id="fcorreo"
                placeholder="Correo"
                formControlName="email"
                [readonly]="true"
              />
            </li>
            <li class="dat dat-celular">
              <div class="titu">Celular:</div>
              <input
                type="number"
                id="fcelular"
                placeholder="Celular"
                formControlName="celular"
              />
            </li>
            <li class="dat dat-celular">
              <div class="titu">Celular Secundario:</div>
              <input
                type="number"
                id="fcelular"
                placeholder="Celular"
                formControlName="celular2"
              />
            </li>
          </div>

          <br>

          <div class="fila-der">
            <li class="dat dat-telefono">
              <div class="titu">Teléfono:</div>
              <input
                type="number"
                id="ftelefono"
                placeholder="Teléfono"
                formControlName="telefono"
              />
              <br />
            </li>
            <li class="dat dat-telefono">
              <div class="titu">Teléfono Secundario:</div>
              <input
                type="number"
                id="ftelefono"
                placeholder="Teléfono"
                formControlName="telefono2"
              />
              <br />
            </li>
            <li class="dat dat-direccion">
              <div class="titu">Dirección:</div>
              <input
                type="text"
                id="fdireccion"
                placeholder="Dirección"
                formControlName="direccion"
              />
            </li>
            <li class="dat dat-pagina">
              <div class="titu">Página:</div>
              <input
                type="text"
                id="fpagina"
                placeholder="Página"
                formControlName="page_web"
              />
            </li>
          </div>
          <li class="dat">
            <button  class="boton cursor" type="submit" (click)="EditarUsuario()">Guardar Cambios</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
