
.foto-form{
	width: 70%;
	margin: 0 auto;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
}

 .titulo{
	font-family: 'Montserrat';
	font-size: 20px;
	text-align: center;
	background-color: #26930e51;
	padding: 20px;
} 

.fila-izq{
	float: left;
	margin-top: 20px;
}
.fila-der{
	text-align: right;
}

.editar-perfil ul{
	list-style: none;
	padding: 0px 60px;
}

.editar-perfil .fila-izq, .editar-perfil .fila-der{
	width: 50%;
	display: inline-table;
}

.editar-perfil .fila-izq .dat input, .editar-perfil .fila-der .dat input{
	width: 70%;
	background-color: transparent;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

.dat button{
	padding: 7px;
}