<div class="Pues_el_formulario">

  <div class="close">
    <i class="fa-solid fa-circle-xmark " ></i>
  </div>
  <div class="form_wrap">

    <section class="cantact_info">
        <section class="info_title">
            <div class="img-perfil">
              <img src="../../../assets/img/editoriales/usuario.jpeg" alt="">
            </div>
            <h2> {{ readPerfil.nombre }}</h2>
        </section>
    </section>
    <form [formGroup]="formulario" class="agregar-libro" (ngSubmit)="guardar()">
        <div class="cita_info">
          <h1>AÑADE TU LIBRO</h1>
          <p class="des">Añade libros para vender y paga una pequeña tarifa anual para mostrarlos</p>
            <div class="col-5">
                <label for="fidioma" class="lbl" [class.danger-inva]="idiomaNoValido">Idioma <span class="obli">*</span></label>
                <br>
                <select class="selecto" formControlName="idioma" [class.is-invalid]="idiomaNoValido" >
                  <option *ngFor="let item of idioma" class="option" [value]="item">{{ item }}</option>
                </select>
            </div>
      
            <div class="col-5">
              <div class="izq-f">
                <label for="ftitulo" class="lbl" [class.danger-inva]="tituloNoValido">Titulo <span class="obli">*</span></label>
                <div>
                  <input
                  type="text"
                  id="ftitulo"
                  class="txtbox"
                  formControlName="titulo"
                  [class.is-invalid]="tituloNoValido"
                  [readonly]="!adicionar"
                  >
                </div>
              </div>
              <div class="der-f">
                <label for="fsubtitulo" class="lbl">Subtitulo</label>
                <div>
                  <input
                  type="text"
                  id="fsubtitulo"
                  class="txtbox"
                  formControlName="subtitulo"
                  >
                </div>
              </div>
            </div>

            <div class="col-5">
              <div class="izq-f">
                <label for="ftitulo" class="lbl" [class.danger-inva]="autor_nombreNoValido">Autor <small>(nombre)</small> <span class="obli">*</span></label>
                <div>
                  <input
                  type="text"
                  id="ftitulo"
                  class="txtbox"
                  formControlName="autor_nombre"
                  [class.is-invalid]="autor_nombreNoValido"
                  >
                </div>
              </div>
              <div class="der-f">
                <label for="fsubtitulo" class="lbl">Autor <small>(apellido)</small> </label>
                <div>
                  <input
                  type="text"
                  id="fsubtitulo"
                  class="txtbox"
                  formControlName="autor_apellido"
                  >
                </div>
              </div>
            </div>
            <div class="col-5 descripcion-top">
              <label for="des" class="lbl" [class.danger-inva]="descripcionNoValido">Descripción <span class="obli">*</span></label>
              <div class="descripcion">
                  <textarea 
                  class="txtarea"
                  name="descripcion"
                  id="des" 
                  cols="30" rows="3"
                  formControlName="descripcion"
                  [class.is-invalid]="descripcionNoValido"
                  ></textarea>
              </div>
            </div>
            <div class="col-5">
              <div class="izq-f">
                <label for="fprecio" class="lbl" [class.danger-inva]="precioNoValido">Precio <small>(Bs.)</small> <span class="obli">*</span></label>
                <div>
                  <input
                  type="number"
                  id="fprecio"
                  class="txtbox"
                  formControlName="precio"
                  [class.is-invalid]="precioNoValido"
                  >
                </div>
              </div>
              <div class="der-f">
                <label for="fanio_publicacion" class="lbl">Año de publicación</label>
                <div>
                  <input 
                  type="number"
                  id="fanio_publicacion"
                  class="txtbox"
                  formControlName="anio_publicacion"
                  >
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="izq-f">
                <label for="fformato" class="lbl">Formato</label>
                <div>
                  <select class="select" formControlName="formato">
                    <option *ngFor="let item of formato" class="option"  [value]="item">{{ item }}</option>
                  </select>
                </div>
              </div>
              <div class="der-f">
                <label for="fcategoria" class="lbl" [class.danger-inva]="id_categoriaNoValido">Categoría <span class="obli">*</span></label>
                <div>
                  <select class="select" formControlName="id_categoria" [class.is-invalid]="id_categoriaNoValido">
                    <option *ngFor="let item of readCategoria" class="option" [value]="item.id_categoria">{{ item.categoria }}</option>
                  </select>

                </div>
              </div>
            </div>
            <div class="col-5">
              <label for="fimagenes" class="lbl-img" [class.danger-inva]="imagenNoValido">Imagenes <span class="obli">*</span></label>
              <br>
              <input
              type="file"
              #fileInput
              class="txtbox txtarea"
              accept="image/*"
              (change)="onSelect($event)"
              id="fimagenes"
              placeholder="Imagenes"
              formControlName="imagen"
              [class.is-invalid]="imagenNoValido"
              readonly
              >
              <div class="img-book"><img [src]="url" title="Profile Picture" class="foto-libro"></div>
            </div>
            <br>
            <div class="col-5">
              <div class="izq-f">
                <label for="fcategoria" class="lbl">Estado</label>
                <div>
                  <select class="select" formControlName="estado">
                    <option *ngFor="let item of estado" class="option" [value]="item">{{ item }}</option>
                  </select>
                </div>
              </div>

              <div class="der-f">
                <label for="fcategoria" class="lbl">Edad Público</label>
                <div>
                  <select class="selecto" formControlName="edad_publico">
                    <option *ngFor="let item of edad" class="option" [value]="item">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>
             
            <div class="col-5">
              <label for="des" class="lbl">Número de páginas</label>
              <div class="descripcion">
                <input
                type="number"
                id="fn-paginas"
                class="txtarea"
                formControlName="numero_paginas"
                >
              </div>
            </div>
                
        </div>

      
      <div class="enviar" [class.btn-invalid]="!formulario.valid">
        <button
        type="submit"
        (click)="guardar()"
      >
        ENVIAR
      </button>


      <button 
      type="submit" 
      *ngIf="true"
      >
      Guardar
      </button>

                    
      <button 
      type="submit"
      *ngIf="true"
      >
      Modificar
      </button>
      
    </div>
    </form>  
            
    <h3 class= "snackbar" [ngClass]="{ 'error': Snack.error, 'advertencia': !Snack.error }">
      {{ mensaje }}
    </h3>
  
  </div>

  
</div>
