<div class="container">

  <div class="contenido-img">
    <h2 class="titulo-nosotros">Asociados</h2>
  </div>
  <div class="all">
    <div class="titulo-border">
      <span class="title">
        <span class="resaltado">NUESTROS</span>
        <span class="title-black">ASOCIADOS</span>
      </span>
    </div>

    <div class="tarjetas">
      
      <div class="card bienaventuranzas">
        <div id="card-container">
          <div id="cardo">
              <div class="back">
                
                <div class="columnaizq foto">
                  <img src="../../../assets/img/asociados/casaEditorialBienaventuranzas_copia.png" />
                  <br>
                  <p>Casa Editorial Bienaventuranzas</p>
                </div>
                
                <div class="columnader">
                    <p class="name">Javier Cabello Miranda</p>
                    <small>Representante</small>
                    <br>
                  <ul>
                    <li><span class="sub"><i class="fa-solid fa-location-dot"></i></span>Calle Benjamín Blanco Esq. Julian Ma. López</li>
                    <li><span class="sub"><i class="fa-solid fa-phone"></i></span>(+591) 4797827</li>
                    <li><span class="sub"><i class="fa-solid fa-envelope"></i></span>secretarzobispo@gmail.com</li>
                    <li><span class="sub"><i class="fa-solid fa-envelope"></i></span>http://bienaventuranza.org/</li>
                    
                  </ul>
                </div>
                                  
              </div>
            
              <div class="front">
                
                <img class="perfil" src="../../../assets/img/asociados/casaEditorialBienaventuranzas_copia.png" />
                <br><br>
                <div id="name"><span>Casa Editorial Bienaventuranzas</span></div>
            
              </div>
          </div>
      </div>

      </div>    

      <div class="card D-C-del-saber">
        <div id="card-container">
          <div id="cardo">
              <div class="back">

                <div class="columnaizq foto">
                  <img src="../../../assets/img/asociados/sinPerfil.jpeg" />
                  <br>
                  <p>Difusora Cultural del Saber</p>
                </div>
                
                <div class="columnader">
                    <p class="name">Robert Laura Valera</p>
                    <small>Representante</small>
                    <br>
                  <ul>
                    <li><span class="sub"><i class="fa-solid fa-location-dot"></i></span>Villa el Carmen c/4 #15 (ciudad de La Paz)</li>
                    <li><span class="sub"><i class="fa-solid fa-phone"></i></span>(+591) 77750177</li>
                    <li><span class="sub"><i class="fa-solid fa-envelope"></i></span>ecodesign_arq@hotmail.com</li>
                    
                  </ul>
                </div>
                
              </div>
            
              <div class="front">
                
                <img class="perfil" src="../../../assets/img/asociados/sinPerfil.jpeg" />
                <br><br>
                <div id="name"><span>Difusora Cultural del Saber</span></div>
                
              </div>
          </div>
      </div>

      </div>
      
      <div class="card D-C-san-andres">
        <div id="card-container">
          <div id="cardo">
              <div class="back">
                
                <div class="columnaizq foto">
                  <img src="../../../assets/img/asociados/sinPerfil.jpeg" />
                  <br>
                  <p>Difusora Cultural San Andrés S.R.L.</p>
                </div>
                
                <div class="columnader">
                    <p class="name">Miguel Bultrago</p>
                    <small>Representante</small>
                    <br>
                  <ul>
                    <li><span class="sub"><i class="fa-solid fa-location-dot"></i></span>Sopocachi. Calle Quintín Barrios No. 796 P.B. (ciudad de La Paz)</li>
                    <li><span class="sub"><i class="fa-solid fa-phone"></i></span>(+591) 77992772</li>
                    <li class="correoDCSA"><span class="sub"><i class="fa-solid fa-envelope"></i></span>editorialsanandres@hotmail.com</li>
                    <li class="correoDCSA"><span class="sub"><i class="fa-solid fa-envelope"></i></span>editorialsanandrescbba@hotmail.com</li>
                    
                  </ul>
                </div>
                
              </div>
            
              <div class="front">

                <img class="perfil" src="../../../assets/img/asociados/sinPerfil.jpeg" />
                <br><br>
                <div id="name"><span>Difusora Cultural San Andrés</span><br>S.R.L.</div>
            <!-- <img class="on" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-snc7/380426_10150410224727943_1835136976_n.jpg" /> -->
                
              </div>
          </div>
      </div>

      </div>
                
      <div class="card Dragofenixlr">
        <div id="card-container">
          <div id="cardo">
              <div class="back">
                
                <div class="columnaizq foto">
                  <img src="../../../assets/img/asociados/Dragofenixlr-Editorial.jpg" />
                  <br>
                  <p>Dragofenixlr - Editorial</p>
                </div>
                
                <div class="columnader">
                    <p class="name">Luis Peralta Ortiz</p>
                    <small>Representante</small>
                    <br>
                  <ul>
                    <li><span class="sub"><i class="fa-solid fa-location-dot"></i></span>Sopocachi. Calle Quintín Barrios No. 796 P.B. (ciudad de La Paz)</li>
                    <li><span class="sub"><i class="fa-solid fa-phone"></i></span>(+591) 4222513</li>
                    <li><span class="sub"><i class="fa-solid fa-envelope"></i></span>lupopol@hotmail.com</li>
                  </ul>
                </div>
                                  
              </div>
            
              <div class="front">
                
                <img class="perfil" src="../../../assets/img/asociados/Dragofenixlr-Editorial.jpg" />
                <br><br>
                <div id="name"><span>Dragofenixlr - Editorial</span></div>
            
              </div>
          </div>
      </div>

      </div>    
                
      <div class="card D-R-E">
        <div id="card-container">
          <div id="cardo">
              <div class="back">
                
                <div class="columnaizq foto">
                  <img src="../../../assets/img/asociados/sinPerfil.jpeg" />
                  <br>
                  <p>D.R.E. Edición y distribución internacional</p>
                </div>
                
                <div class="columnader">
                    <p class="name">Lilian Evelyn Durán Porrez</p>
                    <small>Representante</small>
                    <br>
                  <ul>
                    <li><span class="sub"><i class="fa-solid fa-location-dot"></i></span>Villa Mercedes c/Yuracaré No. 167</li>
                    <li><span class="sub"><i class="fa-solid fa-phone"></i></span>(+591) 79791089</li>
                    <li><span class="sub"><i class="fa-solid fa-envelope"></i></span>eduran@dre-ediciones.net</li>
                  </ul>
                </div>
                                  
              </div>
            
              <div class="front">
                
                <img class="perfil" src="../../../assets/img/asociados/sinPerfil.jpeg" />
                <br><br>
                <div id="name"><span>D.R.E. Edición y distribución internacional</span></div>
            
              </div>
          </div>
      </div>

      </div>    
                
      <div class="card SaberEsPoder">
        <div id="card-container">
          <div id="cardo">
              <div class="back">
                
                <div class="columnaizq foto">
                  <img src="../../../assets/img/asociados/saberEsPoder.jpg" />
                  <br>
                  <p>Ediciones Saber es Poder</p>
                </div>
                
                <div class="columnader">
                    <p class="name">Eva Galean</p>
                    <small>Representante</small>
                    <br>
                  <ul>
                    <li><span class="sub"><i class="fa-solid fa-location-dot"></i></span>Av. Aniceto Arce No. 346</li>
                    <li><span class="sub"><i class="fa-solid fa-phone"></i></span>(+591) 4140523</li>
                    <li><span class="sub"><i class="fa-solid fa-envelope"></i></span>cbba_saberespoder@hotmail.com</li>
                  </ul>
                </div>
                                  
              </div>
            
              <div class="front">
                
                <img class="perfil" src="../../../assets/img/asociados/saberEsPoder.jpg" />
                <br><br>
                <div id="name"><span>Ediciones Saber es Poder</span></div>
            
              </div>
          </div>
      </div>

      </div>    


      
    </div>
  </div>


</div>