<div class="container">
  <div class="phone" *ngIf="autenticado">
    <p class="izquierda">
      ¡Hola!

      <a [routerLink]="['auth']" class="enlaceYellow">Inicia sesión</a>
      o
      <a [routerLink]="['auth/register']" class="enlaceYellow">Regístrate</a>
    </p>
    <p class="derecha">¿Cómo vender?</p>
  </div>

  <div class="logos">
    <div class="logoFILC">
      <img
        src="../../../assets/img/navbar/logo-camara.png"
        alt="logotipo"
        class="logoFilc"
      />
    </div>
    <div class="logoCam">
      <img
        src="../../../assets/img/navbar/camara-logo.png"
        alt="logotipo"
        class="logoCamara"
      />
    </div>
  </div>

  <header>
    <nav
      [ngClass]="{
        'alerta visible': propiedades.visible,
        ' invisible': !propiedades.visible
      }"
    >
      <div *ngIf="!autenticado">
        <a class="user cursor" (click)="navegar()">
          <div class="caja">
            <div class="box">
              <img [src]="usuario.imageUrl" alt="perfil" />
            </div>
          </div>
        </a>
      </div>
      <div class="nav-der">
        <a [routerLink]="['']" routerLinkActive="active"
          >Inicio <i class="fa-solid fa-house iconos-Nav"></i>
        </a>
        <a [routerLink]="['nosotros']" routerLinkActive="active"
          >Nosotros <i class="iconos-Nav fa-solid fa-star"></i
        ></a>
        <a [routerLink]="['libros']" routerLinkActive="active"
          >Libros <i class="iconos-Nav fa-solid fa-book"></i
        ></a>
        <a [routerLink]="['editoriales']" routerLinkActive="active"
          >Editoriales <i class="iconos-Nav fa-regular fa-newspaper"></i
        ></a>
        <a [routerLink]="['eventos']" routerLinkActive="active"
          >Eventos <i class="iconos-Nav fa-regular fa-calendar-minus"></i
        ></a>
        <a [routerLink]="['asociados']" routerLinkActive="active"
          >Asociados <i class="iconos-Nav fa-solid fa-users"></i
        ></a>
        <a [routerLink]="['comunicados']" routerLinkActive="active"
          >Comunicados <i class="iconos-Nav fa-solid fa-bullhorn"></i
        ></a>
        <a [routerLink]="['contacto']" routerLinkActive="active"
          >Contacto <i class="iconos-Nav fa-solid fa-envelope"></i
        ></a>
      </div>

      <div class="iconos-Nav">
        <br /><br /><br /><br />
        <p class="sub-nav">Cámara Departamental del Libro de Cochabamba</p>
      </div>
    </nav>
  </header>

  <!-- BUSCADOR -->
  <div class="contenidoBuscar">
    <div class="buscador">
      <input
        type="text"
        placeholder="Buscar..."
        id="search"
        #buscarTexto
        (keyup.enter)="buscarLibro(buscarTexto.value)"
        class="buscar"
      />
    </div>

    <div class="buscadorverde">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>

  <div class="hamburguesa">
    <button
      class="hamb hamb-M"
      (click)="propiedades.visible = !propiedades.visible"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</div>
