<div class="container">

  <div class="contenido-img">
    <h2 class="titulo-nosotros">Comunicados</h2>
  </div>

<br><br>

<div class="contenedor">
  

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <ul >
    
      <li class="eventos" *ngFor="let item of readData">
          <span class="title">
            <span class="resaltado"></span>
            {{ item.titulo }} <i class="fa" [ngClass]= " { 'fa-caret-down': !propiedades.error, 'fa-caret-up': propiedades.error }" (click)="propiedades.error = !propiedades.error"></i>

          </span>
        <!-- </button> -->
        <div class="informacion" [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error }" >
          <div class="descripcion">
            <p>
              {{ item.descripcion }}
            </p>
          </div>
          <section class="imagenes">

                <a [href]="item.imagen1 + item.tipo1" download> 

                  <div class="descargar">
                    <span class="i">
                      <i class="fa-solid fa-download"></i>
                    </span> 

                    <span class="span">
                      Descargar
                    </span>
                  </div>

                </a>
          </section>
        </div>
      </li>

  </ul>

  </div>
</div>