@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');


.container{
  margin-top: 9%;
  width: 100%;
}

/* ENGLEBERT */
#i1, #i2, #i3, #i4, #i5{ display: none;}
.encabezado{
  position: absolute;
  font-size: 48px;
  font-family: 'Englebert';
  margin-top: -12%;
  margin-left: 10%;
	font-weight: bold;
	text-shadow: 2px 2px 2px #fff, 0 0 10px #fff, 0 0 0.2em #fff;
}

.encabezadoverde{
  position: absolute;
  margin-top: -8%;
  color: #1A7712;
}



.contenido-img h2{
	font-family: 'Englebert';
	padding: 150px 0px 150px 0px;
	text-align: center;
	color: #fff;
	font-size: 80px;
	background-image: linear-gradient(to top,rgba(0, 0, 0, 0.184) 0%, rgba(195, 255, 0, 0.173) 100%), url(../../../assets/img/navbar/estudiantes.jpg);
	background-size: 100%;
	background-position-y: top;
	margin-bottom: 50px;
}
	.contenido-img .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.contenido-img .slide_img img{
		width: 100%;
	}

	 .prev, .next{
		width: 10%;
		position: absolute;
		top:15px; 
		background-color: #58585833;
		color:#f4f4f4e6;
		z-index: 99;
		transition: .45s;
		cursor: pointer;
    margin-top: 200px;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: #585859cc;
		color: #ffffff; 
	}

.contenido-img #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	width: 18px;
	height: 18px;
	margin: 0 4px;
  margin-top: 31%;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #b5b5b585;
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #ffffffe6;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: #ffffffe6;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		


.container{
  display: flex;
  flex-direction: column;
}

.contenedor {
  width: 80%;
	margin: 0 10%;
}

.eventos{
	margin-bottom: 200px;
	width: 40%;
	border: 3px dashed #33333343;
	margin: 30px;
	border-radius: 20px;
	padding: 20px 5px 40px 5px;
	display: inline-block;
}

ul{
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
	text-align: center;
}

/* TITULO */
.resaltado{
  color: #FAD64C;
}

.title{
  font-family: 'Englebert';
  letter-spacing: 0.3mm;
  font-size: 30px;
  font-weight: 500;
	border-bottom: 4px solid #fbd606;
}
.title i{
	font-size: 25px;
}

.err {
	display: none;
}

.descripcion{
	width: 80%;
	margin: 5% auto;
}
.descripcion p{
	text-align: center;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}


.imagenes{
	width: 90%;
	margin: 0 auto;
}

.imagenes a{
	width: 100%;
	display: block;
	text-decoration: none;
}

.descargar{
	width: 60%;
	margin: 0 auto;
}

/* IMAGENES */
.imagenes a .span{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding: 16px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: 700;
  background-color: #56bb3c;
	text-transform: uppercase;
}

.imagenes a .i{
  color: #fff;
	padding: 16px;
	text-align: center;
	font-size: 19px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #48a231;
}






/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */


/* Escritorio grande */
@media only screen and (min-width: 1200px) and (max-width: 1450px){
	
	}
	
	/* Escritorio grande */
	@media only screen and (min-width: 992px) and (max-width: 1199px){
		.encabezado{
			font-size: 38px;
		}
		
		.prev, .next{
			margin-top: 140px;
		}
		.next{right:40px;}
		
	.eventos{
		width: 45%;
		margin: 10px;
	}

	.title{
		font-size: 20px;
	}

	}
	
	/* Escritorio pequeño / tablet */
	@media only screen and (min-width: 768px) and (max-width: 991px){
		.prev, .next{
			margin-top: 100px;
		}
		.next{right:40px;}
	
		.encabezado{
			font-size: 28px;
			font-weight: bold;
		}

	.title{
		font-size: 25px;
	}
	.title i{
		font-size: 20px;
	}

	.eventos{
		margin-bottom: 10px;
		width: 90%;
	}
	
	}
	
	/* Tablets y phablets */
	@media only screen and (min-width: 576px) and (max-width: 767px){
		.prev, .next{
			margin-top: 70px;
		}
		.next{right:40px;}
	
		.encabezado{
			font-size: 22px;
			margin-left: 15%;
		}

		.title{
			font-size: 25px;
		}
	.eventos{
		margin-bottom: 10px;
		width: 90%;
	}
	

	}
	
	/* Teléfonos */
	@media only screen and (min-width: 320px) and (max-width: 575px){
		.prev, .next{
			margin-top: 50px;
		}
		.next{right:40px;}
		label span{
			font-size: 50pt;
		}
	
		.encabezado{
			font-size: 20px;
			margin-left: 15%;
		}
		.encab{
			margin-top: -3%;
		}
		.encabezadoverde{
		padding-top: 7px;
		}
	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}


	.resaltado{
		border-bottom: 5px solid #FAD64C;
	}
	.title{
		font-size: 15px;
		border-bottom: 3px solid #FAD64C;
	}
.eventos{
	width: 95%;
	margin: 0px 0px 20px 0px;
}

.descargar{
	width: 100%;
}

.descripcion p{
	font-size: 11px;
	padding-bottom: 10px;
}

.title i{
	font-size: 13px;
}

.imagenes a .i{
	padding: 10px 10px 10px 14px;
	font-size: 12px;
}
.imagenes a .span{
	font-size: 11px;
	padding: 10px 15px 10px 10px;
}

	}