mat-toolbar {
	background: green;
	color: white;
}
mat-sidenav {
	margin: 16px;
	width: 250px;
	border-right: none;
	background: green;
	color: white;
	border-radius: 10px;
	padding: 16px;
	text-align: center;
}
.content {
	height: calc(100vh - 130px);
	border-radius: 10px;
	margin: 16px;
	/* margin-left: 32px; */
	padding: 16px;
	overflow: auto;
}
mat-sidenav-container {
	height: calc(100vh - 65px);
}
.menu-button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1rem;
}
.menu-button mat-icon {
	margin-right: 8px;
}
.avatar {
	margin-top: 16px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.name {
	margin-top: 8px;
	font-weight: normal;
}
.designation {
	margin-top: 2px;
	font-size: 0.7rem;
	color: lightgrey;
}
mat-divider {
	margin-top: 16px;
	margin-bottom: 16px;
	background-color: rgba(255, 255, 255, 0.5);
}