<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Bienvenido Administrador
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">{{admin.nombre}}</h4>
    <p class="designation">{{admin.email}}</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/admin" routerLinkActive="active">
      <mat-icon>accessibility</mat-icon>
      <span>Inicio</span>
    </button>
		<button mat-button class="menu-button" routerLink="usuarios" routerLinkActive="active">
      <mat-icon>accessibility</mat-icon>
      <span>Usuarios</span>
    </button>
    <button mat-button class="menu-button" routerLink="categoria" routerLinkActive="active">
      <mat-icon>assignment_ind</mat-icon>
      <span>Categorias de Libro</span>
    </button>
		<button mat-button class="menu-button" routerLink="comunicado" routerLinkActive="active">
      <mat-icon>assignment</mat-icon>
      <span>Comunicado</span>
    </button>
    <button mat-button class="menu-button" routerLink="evento" routerLinkActive="active">
      <mat-icon>calendar_today</mat-icon>
      <span>Evento</span>
    </button>
    <button mat-button class="menu-button" routerLink="asociado" routerLinkActive="active">
      <mat-icon>assignment_ind</mat-icon>
      <span>Asociado</span>
    </button>

    <mat-divider></mat-divider>

		<button mat-button class="menu-button" routerLink="/">
      <mat-icon>arrow_back</mat-icon>
      <span>Volver a la Página</span>
    </button>
    <button mat-button class="menu-button" routerLink="ayuda" routerLinkActive="active">
      <mat-icon>help</mat-icon>
      <span>Ayuda</span>
    </button>
    <button mat-button class="menu-button" (click)="cerrarSession()">
      <mat-icon>settings</mat-icon>
      <span>Cerrar Session</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">

      <router-outlet></router-outlet>
    
		</div>
  </mat-sidenav-content>
</mat-sidenav-container>