<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
  </button>
  <span>Administración De Las Categorias Disponibles En La Plataforma</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">AGREGAR</button>
</mat-toolbar>

<div *ngIf="cargando" class="cajon">
	<div class="loadingio-spinner-spinner-035nnm7w7w2m">
		<div class="ldio-7nhg2x2vkmt">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>


<div class="tabla-material" *ngIf="!cargando">
	<mat-form-field>
		<mat-label>Filtrar Por... </mat-label>
		<input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo (nombre, email... etc)" #input>
	</mat-form-field>
	<div class="mat-elevation-z8">

		<!-- | paginate: {itemsPerPage: 2, currentPage: pageActual} -->

	<table mat-table [dataSource]="dataSource" matSort>

		<ng-container matColumnDef="categoria">
			<th mat-header-cell *matHeaderCellDef> Titulo De La Categoria </th>
			<td mat-cell *matCellDef="let row"> {{row.categoria}}</td>

		</ng-container>
		<ng-container matColumnDef="nombre_usuario">
			<th mat-header-cell *matHeaderCellDef> Información del Usuario Creador </th>
			<td mat-cell *matCellDef="let row"> {{row.nombre_usuario }} - {{row.correo_usuario}}</td>
		</ng-container>
		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
			<td mat-cell *matCellDef="let row"> {{row.createdAt}}</td>
		</ng-container>

		<ng-container matColumnDef="updatedAt">
			<th mat-header-cell *matHeaderCellDef> Fecha de Actualización </th>
			<td mat-cell *matCellDef="let row"> {{row.updatedAt}}</td>
		</ng-container>

		<ng-container matColumnDef="accion">
			<th mat-header-cell *matHeaderCellDef> Ediciones </th>
			<td mat-cell *matCellDef="let row">
				<button mat-icon-button color="primary" (click)="editarCategoria(row)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" (click)="borrarCategoria(row._id)">
					<mat-icon>delete</mat-icon>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">No se encontraron Resultados Para: "{{input.value}}"</td>
		</tr>
	</table>

	<!-- <pagination-controls
	(pageChange)="pageActual = $event"
	class="my-pagination"
	previousLabel="Anterior"
	nextLabel="Siguiente"
></pagination-controls> -->


</div>