
.example-spacer {
  flex: 1 1 auto;
} 

.demo-inline-calendar-card {
  width: 300px;
}

.cajon{
  width: 100%;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

	@keyframes ldio-7nhg2x2vkmt {
		0% { opacity: 1 }
		100% { opacity: 0 }
	}

	.ldio-7nhg2x2vkmt div {
		left: 83.725px;
		top: -0.985px;
		position: absolute;
		animation: ldio-7nhg2x2vkmt linear 1.639344262295082s infinite;
		background: #ffc74f;
		width: 29.55px;
		height: 37.43px;
		border-radius: 14.775px / 18.715px;
		transform-origin: 14.775px 99.485px;
	}.ldio-7nhg2x2vkmt div:nth-child(1) {
		transform: rotate(0deg);
		animation-delay: -1.5027322404371584s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(2) {
		transform: rotate(30deg);
		animation-delay: -1.366120218579235s;
		background: #2bde73;
	}.ldio-7nhg2x2vkmt div:nth-child(3) {
		transform: rotate(60deg);
		animation-delay: -1.2295081967213115s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(4) {
		transform: rotate(90deg);
		animation-delay: -1.0928961748633879s;
		background: #2bde73;
	}.ldio-7nhg2x2vkmt div:nth-child(5) {
		transform: rotate(120deg);
		animation-delay: -0.9562841530054644s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(6) {
		transform: rotate(150deg);
		animation-delay: -0.819672131147541s;
		background: #2bde73;
	}.ldio-7nhg2x2vkmt div:nth-child(7) {
		transform: rotate(180deg);
		animation-delay: -0.6830601092896175s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(8) {
		transform: rotate(210deg);
		animation-delay: -0.5464480874316939s;
		background: #2bde73;
	}.ldio-7nhg2x2vkmt div:nth-child(9) {
		transform: rotate(240deg);
		animation-delay: -0.4098360655737705s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(10) {
		transform: rotate(270deg);
		animation-delay: -0.27322404371584696s;
		background: #2bde73;
	}.ldio-7nhg2x2vkmt div:nth-child(11) {
		transform: rotate(300deg);
		animation-delay: -0.13661202185792348s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(12) {
		transform: rotate(330deg);
		animation-delay: 0s;
		background: #2bde73;
	}
	.loadingio-spinner-spinner-035nnm7w7w2m {
		width: 197px;
		height: 197px;
		display: inline-block;
		overflow: hidden;
	}
	.ldio-7nhg2x2vkmt {
		width: 100%;
		height: 100%;
		position: relative;
		transform: translateZ(0) scale(1);
		backface-visibility: hidden;
		transform-origin: 0 0; /* see note above */
	}
	.ldio-7nhg2x2vkmt div { box-sizing: content-box; }



  .tabla-material{
    max-width: 1800px;
    margin: 0 auto;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }



/* 
  
.container{
  width: 100%;
}

.centro{
  width: 80%;
  margin: 0 10%;
}

.titulo button{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
  border: none;
  background-color: #c2b5a3;
  font-weight: bolder;
  padding: 20px 25px 20px 25px;
  border-radius: 20px;
}

.titulo button:hover{
  background-color: #e5dcc7;
}

.subtitulo{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

table{
  width: 100%;
}
th{
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: 0.2px solid #a76201;
  padding: 10px;
}
td {
  text-align: center;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  border: 0.1px solid #a76201;
}
.informacion .imagen{ width: 15%; padding: 15px; }
.informacion .imagen img{ width: 100%; }

.resaltado{
  color: #FAD64C;
}

.precio { font-size: 15px;}





.Pues_el_formulario{
  position: absolute;
  z-index: 2000;
  height: 1000px;
  width: 100%;
  top: 10%;
}


.form_wrap{
  height: 800px;
  margin: 0px auto;
  display: flex;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  padding: 30px;
  width: 50%;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 25%) 0px 200px 285px, rgb(0 0 0 / 12%) 0px -60px 800px, rgb(0 0 0 / 15%) -60px 5px 100px, rgb(0 0 0 / 25%) 30px 20px 200px, rgb(0 0 0 / 9%) 30px -5px 900px;

}

form{width: 100%;}

.danger {
}

.err {
  visibility: hidden;
}

form .row .lbl{
  text-align: center;
  font-size: 22px;}
form .row input, textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;}
form .row{
  text-align: center;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  padding: 6px 12px;
  width: 50%;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  cursor: pointer;
}
.btn{
  text-align: center;
  padding: 11px 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.img{
  height: 110px;
  float: left;
  margin-left: 40px;
}

.img-com{
  height: 100%;
}

.borrarImg{
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  margin-left: 50px;
}
.fila-img{
  height: 150px;
  border-bottom: 1px solid #000;padding-top: 20px;
} */