<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
  </button>
  <span>Administración de los Comunicados de La Plataforma</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">AGREGAR</button>
</mat-toolbar>

<div *ngIf="cargando" class="cajon">
	<div class="loadingio-spinner-spinner-035nnm7w7w2m">
		<div class="ldio-7nhg2x2vkmt">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>


<div class="tabla-material" *ngIf="!cargando">
	<mat-form-field>
		<mat-label>Filtrar Por... </mat-label>
		<input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo (nombre, email... etc)" #input>
	</mat-form-field>
	<div class="mat-elevation-z8">
	<table mat-table [dataSource]="dataSource" matSort>
	
		<ng-container matColumnDef="titulo">
			<th mat-header-cell *matHeaderCellDef> Titulo </th>
			<td mat-cell *matCellDef="let row"> {{row.titulo}}</td>
				
		</ng-container>
	
		<ng-container matColumnDef="descripcion">
			<th mat-header-cell *matHeaderCellDef> Descripción </th>
			<td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
		</ng-container>

		<ng-container matColumnDef="adjunto">
			<th mat-header-cell *matHeaderCellDef> Adjunto </th>
			<td mat-cell *matCellDef="let row"> {{row.adjunto}}</td>
		</ng-container>

		<ng-container matColumnDef="img">
			<th mat-header-cell *matHeaderCellDef> Imagen </th>
			<td mat-cell *matCellDef="let row"> {{row.img}}</td>
		</ng-container>

		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
			<td mat-cell *matCellDef="let row"> {{row.createdAt }}</td>
		</ng-container>
		<ng-container matColumnDef="updatedAt">
			<th mat-header-cell *matHeaderCellDef> Fecha de Actualización </th>
			<td mat-cell *matCellDef="let row"> {{row.updatedAt }}</td>
		</ng-container>
		

		<ng-container matColumnDef="accion">
			<th mat-header-cell *matHeaderCellDef> Ediciones </th>
			<td mat-cell *matCellDef="let row">
				<button mat-icon-button color="primary" (click)="editarComunicado(row)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" (click)="borrarComunicado(row._id)">
					<mat-icon>delete</mat-icon>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">No se encontraron Resultados Para: "{{input.value}}"</td>
		</tr>
	</table>
	<mat-paginator
									[pageSizeOptions]="[5, 10, 20, 30, 50]"
                 showFirstLastButtons
                 aria-label="Label">
  </mat-paginator>
</div>































<!-- <div class="container">
  <div class="centro">
    <br /><br />
    <h3 class="subtitulo">Lista de los comunicados</h3>

    <div class="tabla">
      <div class="table-responsive">
        <section class="table table-primary">
          <thead>
            <tr>
              <th scope="col">Título</th>
              <th scope="col">Descripción</th>
              <th scope="col">Nombre de la imagen</th>
              <th scope="col">Imagen</th>
            </tr>
          </thead>
          <tbody>
            <tr class="informacion"   *ngFor="let item of readData;">
              <td class="title"> {{item.titulo}} </td>
              <td class="autor"> {{item.descripcion}} </td>
              <td class="autor"> {{item.nombre_archivo}}</td>
              <td class="precio" ><a [href]="item.imagen1 + item.tipo1" download>Descargar</a> </td>
              <td><button (click)="deleteData(item.id_addComunicado)"><i class="fa-solid fa-trash"></i></button></td>              
            </tr>
          </tbody>
        </section>
        <br /><br />
      </div>
    </div>
  </div>
</div>

<div
  class="Pues_el_formulario"
  [ngClass]="{ danger: propiedades.error, err: !propiedades.error }"
>
  <div class="form_wrap">
    <form [formGroup]="formulario">
      <span>Añade un evento</span>
      <div class="close">
        <i
          class="fa-solid fa-circle-xmark"
          (click)="propiedades.error = !propiedades.error"
        ></i>
      </div>

      <div class="row">
        <label for="ftitulo" class="lbl">Titulo</label>
        <br />
        <input
          type="text"
          id="ftitulo"
          class="txtbox"
          placeholder="Titulo del Evento"
          formControlName="titulo"
        />
      </div>

      <br /><br />

      <div class="row">
        <label for="fdescripcion" class="lbl">Descripción:</label>
        <br />
        <textarea
          type="text"
          id="fdescripcion"
          class="txtbox"
          placeholder="Descripción (opcional)"
          formControlName="descripcion"
        ></textarea>
      </div>

      <br />
      <button mat-flat-button color="accent" (click)="adicionImg()">+</button>

      <div class="row fila-img" *ngFor="let item of cantidadImg">
        <label for="fimagenes" class="lbl">Imagenes</label>
        <br />
        <div class="img">
          <img [src]="url" class="img-com" title="Profile Picture" />
        </div>
        <label for="fimagenes" class="custom-file-upload"
          >Seleccionar imagen</label
        >
        <input
          type="file"
          #fileInput
          class="imgbox"
          (change)="onSelect($event)"
          id="fimagenes"
          name="archivossubidos[]"
          multiple
          placeholder="Imagenes"
          formControlName="imagenes"
        />

        <button (click)="borrarPasatiempo(item)" class="borrarImg">
          Eliminar
        </button>
      </div>
      <br /><br />
      <br /><br />

      <div class="row">
        <button class="btn" (click)="guardar()">Guardar</button>
      </div>
    </form>
  </div>
</div> -->
