<h1 mat-dialog-title class="c-fotolibro">Desea Cambiar La Imagen del Libro?</h1>
<div mat-dialog-container>
  <div class="pablo-center">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <!-- <mat-card-title>Desea Cambiar La Imagen del Libro?</mat-card-title> -->
          <!-- <mat-card-subtitle>
            <div class="text-center"></div>
          </mat-card-subtitle> -->
          <div class="text-center">
            <img
              *ngIf="!imgTemp2"
              [src]="datoEdicion.img | imagen: 'libros'"
              alt="imagen Temporal"
              class="imagen"
            />
            <img *ngIf="imgTemp2" [src]="imgTemp2" alt="" class="imagen" />
          </div>

          <input
              type="file"
              accept="image/*"
              name="archivo"
              id="imagen"
              (change)="cambiarImagen($event)"
            />
            <div class="abajo">
            <label for="imagen">Elegir Foto</label>
            </div>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
  </div>

  <!-- <form [formGroup]="categoriaForm">
    <div class="example-container">
      <mat-form-field hintLabel="Caracteres" appearance="fill">
        <mat-label>Categoria</mat-label>
        <input
          formControlName="categoria"
          matInput
          #input
          maxlength="40"
          placeholder="Nombre del Usuario"
        />
        <mat-hint align="end">{{ input.value.length }}/40</mat-hint>
        <mat-error *ngIf="campoNoValido('categoria')"
          >Ingrese un Nombre Válido</mat-error
        >
      </mat-form-field>
    </div>
  </form> -->
</div>

<div mat-dialog-action [align]="'end'" class="btn-action">
  <br>
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    color="primary"
    (click)="subirImagen()"
    [disabled]="habilitar"
  >
    Guardar Cambios
  </button>
  <br><br>
</div>

<!-- <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field> -->

<!-- <mat-form-field class="example-full-width">
      <mat-label>Message</mat-label>
      <input
				formControlName="mensajelargo"
        matInput
        #message
        maxlength="256"
        placeholder="Ex. I need help with..."
      />
      <mat-hint align="start"
        ><strong>Don't disclose personal info</strong>
      </mat-hint>
      <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
    </mat-form-field> -->

<!-- <mat-label><h1>Producto Fresco</h1></mat-label>
    <mat-radio-group formControlName="opcion" class="example-radio-group">
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let item of usuarios"
        [value]="item"
      >
        {{ item }}
      </mat-radio-button>
    </mat-radio-group>
     -->

<!-- <mat-form-field appearance="fill" class="size">
      <input
				formControlName="fecha"
        matInput
        [matDatepicker]="picker"
				placeholder="Selecciona una Fecha"
				readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field> -->
