
.mat-dialog-title{
  text-align: center;
  background-color: #26930e51;
  padding: 15px;
}
.imagen{
	margin-left: 20px;
	width: 140px;
}

input[type="file"]#imagen {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  background-color: #000;
  position: absolute;
  z-index: -1;
}

label[for="imagen"] {
  font-size: 11px;
  color: #fff;
  background-color: #26930e;
  transition: all .5s;
  cursor: pointer;
  padding: 7px 15px !important;
  text-transform: uppercase;
  text-align: center;
  border-radius: 15px;
}

.abajo{
  /* MOVER LOS BOTONES DEL EDITAR LA IMAGEN */
  padding-top: 80px;
}

.btn-action{
  align-items: center;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}


.example-card{
  width: 45%;
  margin: 0 auto;
}