/* table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
} */

.example-spacer {
  flex: 1 1 auto;
} 

.demo-inline-calendar-card {
  width: 300px;
}



.cajon{
  width: 100%;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

	@keyframes ldio-7nhg2x2vkmt {
		0% { opacity: 1 }
		100% { opacity: 0 }
	}

	.ldio-7nhg2x2vkmt div {
		left: 83.725px;
		top: -0.985px;
		position: absolute;
		animation: ldio-7nhg2x2vkmt linear 1.639344262295082s infinite;
		background: #ffc74f;
		width: 29.55px;
		height: 37.43px;
		border-radius: 14.775px / 18.715px;
		transform-origin: 14.775px 99.485px;
	}.ldio-7nhg2x2vkmt div:nth-child(1) {
		transform: rotate(0deg);
		animation-delay: -1.5027322404371584s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(2) {
		transform: rotate(30deg);
		animation-delay: -1.366120218579235s;
		background: #2bde73;
	}.ldio-7nhg2x2vkmt div:nth-child(3) {
		transform: rotate(60deg);
		animation-delay: -1.2295081967213115s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(4) {
		transform: rotate(90deg);
		animation-delay: -1.0928961748633879s;
		background: #2bde73;
	}.ldio-7nhg2x2vkmt div:nth-child(5) {
		transform: rotate(120deg);
		animation-delay: -0.9562841530054644s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(6) {
		transform: rotate(150deg);
		animation-delay: -0.819672131147541s;
		background: #2bde73;
	}.ldio-7nhg2x2vkmt div:nth-child(7) {
		transform: rotate(180deg);
		animation-delay: -0.6830601092896175s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(8) {
		transform: rotate(210deg);
		animation-delay: -0.5464480874316939s;
		background: #2bde73;
	}.ldio-7nhg2x2vkmt div:nth-child(9) {
		transform: rotate(240deg);
		animation-delay: -0.4098360655737705s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(10) {
		transform: rotate(270deg);
		animation-delay: -0.27322404371584696s;
		background: #2bde73;
	}.ldio-7nhg2x2vkmt div:nth-child(11) {
		transform: rotate(300deg);
		animation-delay: -0.13661202185792348s;
		background: #ffc74f;
	}.ldio-7nhg2x2vkmt div:nth-child(12) {
		transform: rotate(330deg);
		animation-delay: 0s;
		background: #2bde73;
	}
	.loadingio-spinner-spinner-035nnm7w7w2m {
		width: 197px;
		height: 197px;
		display: inline-block;
		overflow: hidden;
	}
	.ldio-7nhg2x2vkmt {
		width: 100%;
		height: 100%;
		position: relative;
		transform: translateZ(0) scale(1);
		backface-visibility: hidden;
		transform-origin: 0 0; /* see note above */
	}
	.ldio-7nhg2x2vkmt div { box-sizing: content-box; }



  .tabla-material{
    max-width: 1800px;
    margin: 0 auto;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
