<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
  </button>
  <span>Administración De Los Eventos Disponibles En La Plataforma</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">AGREGAR</button>
</mat-toolbar>

<div *ngIf="cargando" class="cajon">
	<div class="loadingio-spinner-spinner-035nnm7w7w2m">
		<div class="ldio-7nhg2x2vkmt">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>


<div class="tabla-material" *ngIf="!cargando">
	<mat-form-field>
		<mat-label>Filtrar Por... </mat-label>
		<input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo (nombre, email... etc)" #input>
	</mat-form-field>
	<div class="mat-elevation-z8">

		<!-- | paginate: {itemsPerPage: 2, currentPage: pageActual} -->

	<table mat-table [dataSource]="dataSource" matSort>

		<ng-container matColumnDef="titulo">
			<th mat-header-cell *matHeaderCellDef> Titulo Del Evento </th>
			<td mat-cell *matCellDef="let row"> {{row.titulo}}</td>

		</ng-container>
		<ng-container matColumnDef="detalles">
			<th mat-header-cell *matHeaderCellDef> Detalles Del Evento </th>
			<td mat-cell *matCellDef="let row"> {{row.detalles }}</td>
		</ng-container>
    <ng-container matColumnDef="img">
			<th mat-header-cell *matHeaderCellDef> Imagen Del Evento </th>
			<td mat-cell *matCellDef="let row"> {{row.img }}</td>
		</ng-container>
    <ng-container matColumnDef="fecha">
			<th mat-header-cell *matHeaderCellDef> Fecha del Evento </th>
			<td mat-cell *matCellDef="let row"> {{row.fecha }}</td>
		</ng-container>
		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef> fecha de Creación </th>
			<td mat-cell *matCellDef="let row"> {{row.createdAt}}</td>
		</ng-container>

		<ng-container matColumnDef="updatedAt">
			<th mat-header-cell *matHeaderCellDef> fecha de Actualización </th>
			<td mat-cell *matCellDef="let row"> {{row.updatedAt}}</td>
		</ng-container>

		<ng-container matColumnDef="accion">
			<th mat-header-cell *matHeaderCellDef> Ediciones </th>
			<td mat-cell *matCellDef="let row">
				<button mat-icon-button color="primary" (click)="editarEvento(row)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" (click)="borrarEvento(row._id)">
					<mat-icon>delete</mat-icon>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">No se encontraron Resultados Para: "{{input.value}}"</td>
		</tr>
	</table>
</div>






















































<!-- 
<div class="container">

  <div class="centro">
    <br><br> -->
<!-- <h2 class="titulo"  (click)="propiedades.error = !propiedades.error"><button>añada su evento</button></h2> -->

<!-- <h3 class="subtitulo">Lista de los eventos</h3>

    <div class="tabla" >
      <div class="table-responsive" >
        <section class="table table-primary">
          <thead>
            <tr>
              <th scope="col">Título</th>
              <th scope="col">Descripción</th>
              <th scope="col">Imagen</th>
            </tr>
          </thead> -->
<!-- <tbody>
            <tr class="informacion"  *ngFor="let item of readData;">
              <td class="title"> {{item.titulo}} </td>
              <td class="autor"> {{item.descripcion}} </td>
              <td class="precio">  <img [src]="item.imagen1 + item.tipo1" alt="img1" height="150px"> </td>
              <td><button (click)="deleteData(item.id_addEvent)"><i class="fa-solid fa-trash"></i></button></td>
            </tr>
          </tbody> -->
<!-- </section>
        <br><br>
      </div>
      
    </div>

  </div>
  
</div> -->

<!-- 
<div class="Pues_el_formulario"  [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error }">
      
  <div class="form_wrap">
    <form [formGroup]="formulario">

      <span>Añade un evento</span>
      <div class="close">
        <i class="fa-solid fa-circle-xmark " (click)="propiedades.error = !propiedades.error" ></i>
      </div>

      <div class="row">
          <label for="ftitulo" class="lbl">Titulo</label>
          <br>
          <input
          type="text"
          id="ftitulo"
          class="txtbox"
          placeholder="Titulo del Evento"
          formControlName="titulo"
          >
      </div>

      <br><br>
  
      <div class="row">
          <label for="fdescripcion" class="lbl">Descripción:</label>
          <br>
          <textarea
          type="text"
          id="fdescripcion"
          class="txtbox"
          placeholder="Descripción (opcional)"
          formControlName="descripcion"
          ></textarea>
      </div>

      <br><br>

      <div class="row">
          <label for="fimagenes" class="lbl">Imagenes</label>
          <br>
          <img [src]="url" width="150px" title="Profile Picture">
          <br><br>
          <label for="fimagenes" class="custom-file-upload">Custom Upload</label>
          <input
          type="file"
          #fileInput
          class="imgbox"
          accept="image/*"
          (change)="onSelect($event)"
          id="fimagenes"
          placeholder="Imagenes"
          formControlName="imagenes"
          >
      </div>
      <br><br>

      <div class="row">
        <button
        class="btn"
        (click)="guardar()"
        [disabled]="!formulario.valid">Guardar</button>
      </div>
    </form>
  </div>

</div> -->
<!-- 
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Busqueda Completa" #input />
</mat-form-field>

<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  matSort
  class="mat-elevation-z8"
>
  <ng-container
    matColumnDef="{{ column }}"
    *ngFor="let column of columnsToDisplay"
  >
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="
          expandedElement = expandedElement === element ? null : element;
          $event.stopPropagation()
        "
      >
        <mat-icon *ngIf="expandedElement !== element"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon *ngIf="expandedElement === element"
          >keyboard_arrow_up</mat-icon
        >
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <div class="example-element-diagram">
          <div class="example-element-position">{{ element.id }}</div>
          <div class="example-element-symbol">{{ element.name }}</div>
          <div class="example-element-name">{{ element.progress }}</div>
          <div class="example-element-weight">{{ element.fruit }}</div>
        </div>
        <div class="example-element-description">
          {{ element.description }}
          <span class="example-element-description-attribution">
            -- Wikipedia
          </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplayWithExpand"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>
<mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator> -->