@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');

.contenido-img h2{
  font-family: 'Englebert';
  padding: 150px 0px 150px 0px;
  text-align: center;
  color: #fff;
  font-size: 80px;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.184) 0%, rgba(195, 255, 0, 0.173) 100%), url(../../../assets/img/navbar/estudiante.jpg);
  background-size: 100%;
  background-position-y: top;
  margin-bottom: 50px;
}


.container{
  margin-top: 9%;
  width: 100%;
}

/* ENGLEBERT */
#i1, #i2, #i3, #i4, #i5{ display: none;}


/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/

.encabezado{
  position: absolute;
  font-size: 48px;
  font-family: 'Englebert';
  margin-top: -12%;
  margin-left: 10%;
	font-weight: bold;
	text-shadow: 2px 2px 2px #fff, 0 0 10px #fff, 0 0 0.2em #fff;
}

.encabezadoverde{
  position: absolute;
  margin-top: -8%;
  color: #1A7712;
}

/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/


.contenido-img{
		position: relative;
		width: 100%;
    /* margin-bottom: 32%; */
	  /* user-select: none; */
	}

	.contenido-img .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.contenido-img .slide_img img{
		width: 100%;
	}

	 .prev, .next{
		width: 10%;
		position: absolute;
		top:15px; 
		background-color: #58585833;
		color:#f4f4f4e6;
		z-index: 99;
		transition: .45s;
		cursor: pointer;
    margin-top: 200px;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: #585859cc;
		color: #ffffff; 
	}

.contenido-img #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	width: 18px;
	height: 18px;
	margin: 0 4px;
  margin-top: 31%;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #b5b5b585;
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #ffffffe6;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: #ffffffe6;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		




/*CONTENIDO INDEX*/
.container{
  display: flex;
  flex-direction: column;
}

.contenido-img{
  margin-bottom: 33%;
}
.contenedor {
	width: 80%;
	margin: 0 10%;
	
}


.eventos{
	/* background-color: #1A7712; */
	margin-top: 0px;
	margin-bottom: 30px;
}

ul{
	list-style: none;
	text-align: center;
	padding: 0px;
}

.descripcion{
	width: 50%;
	margin: 0 25%;
	margin-top: 3%;
}
.descripcion p{
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}
.titulo-border .title i{
	font-size: 36px;
	margin-left: 5px;
}

.err {
	/* display: none; */
}



/* IMAGENES */
.imagenes{
	padding: 15px 0px 15px 0px;
}
.book{
	width: 20%; margin-bottom: 50px; padding: 10px 15px 10px 15px; 
  border: 1px dashed #0000003e;
  border-radius: 15px;
  display: inline-table;
  margin: 10px;
}
.caja{
  display: flex;
  justify-content: center;
	width: 240px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
	cursor: pointer;
  width: 320px;
  height: 280px;
  margin-bottom: 10px;
	/* margin: 8px; */
  /* border: 4px solid orange; */
  background: rgb(189, 152, 152);
}

.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
  .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}


.agregar-imagen{
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  margin-left: 20%;
  margin-top: 3%;
  transform: scale(0);
  transition: transform .3s .2s;
}





/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */


/* Escritorio grande */
@media only screen and (min-width: 1200px) and (max-width: 1440px){
.imagenes{
	width: 90%;
	margin: 0 5%;
}
.imagenes .foto {
	width: 28%;
	margin: 30px;
	float: left;
	height: 400px;
}

.contenedor {
	width: 80%;
	margin: 0 10%;
}

.book{
	width: 15%; margin-bottom: 50px; padding: 10px 15px 10px 15px; 
}
.caja{
	width: 200px;
}
.titulo-border .title i{
	font-size: 35px;
	margin-left: 5px;
}
	
	}
	
	/* Escritorio grande */
	@media only screen and (min-width: 992px) and (max-width: 1199px){
		.encabezado{
			font-size: 38px;
		}
		
		.prev, .next{
			margin-top: 140px;
		}
		.next{right:40px;}


		.descripcion{
			width: 60%;
			margin: 10px auto;
		}
		.descripcion p{
			font-size: 12px;
		}
.eventos{
	margin-bottom: 20px;
}

.contenedor {
	width: 90%;
	margin: 0 5%;
}
.book{
	width: 10%; 
}
.caja{
	width: 150px;
}
.box{
  width: 300px;
  height: 180px;
}
.titulo-border .title i{
	font-size: 30px;
}

	}
	
	/* Escritorio pequeño / tablet */
	@media only screen and (min-width: 768px) and (max-width: 991px){
		.prev, .next{
			margin-top: 90px;
		}
		.next{right:40px;}
	
		.encabezado{
			font-size: 28px;
		}

.descripcion{
	width: 80%;
	margin: 10px auto;
}
.descripcion p{
	font-size: 12px;
}

.contenedor {
	width: 90%;
	margin: 0 5%;
}
.book{
	width: 10%; 
}
.caja{
	width: 150px;
}
.box{
  width: 300px;
  height: 180px;
}
.titulo-border .title i{
	font-size: 25px;
}
	
	}
	
	/* Tablets y phablets */
	@media only screen and (min-width: 576px) and (max-width: 767px){
		.prev, .next{
			margin-top: 70px;
		}
		.next{right:40px;}
	
		.encabezado{
			font-size: 22px;
			margin-left: 15%;
		}


.descripcion{
	width: 80%;
	margin: 10px auto;
}
.descripcion p{
	font-size: 11px;
}

.eventos{
	margin-bottom: 100px;
}

.contenedor {
	width: 90%;
	margin: 0 5%;
}
.book{
	width: 12%; 
	padding: 9px;
}
.caja{
	width: 120px;
}
.box{
  width: 280px;
  height: 140px;
}

.titulo-border .title i{
	font-size: 22px;
}

	}
	
	/* Teléfonos */
	@media only screen and (min-width: 320px) and (max-width: 575px){
	
		.prev, .next{
			margin-top: 50px;
		}
		.next{right:40px;}
		label span{
			font-size: 50pt;
		}
	
		.encabezado{
			font-size: 20px;
			margin-left: 15%;
		}
		.encab{
			margin-top: -3%;
		}
		.encabezadoverde{
		padding-top: 7px;
		}
	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}

.descripcion{
width: 80%;
margin: 10px auto;
}
.descripcion p{
font-size: 9px;
}

.eventos{
margin-bottom: 70px;
}

.contenedor {
	width: 90%;
	margin: 0 5%;
}
.book{
	width: 12%; 
	padding: 9px;
}
.caja{
	width: 120px;
}
.box{
  width: 280px;
  height: 140px;
}

.titulo-border .title i{
	font-size: 20px;
}


.titulo-border .title{
	font-size: 18px;
}
	
	}
	