
<div class="container">
  <div class="contenido-img">
    <h2 class="titulo-nosotros">Eventos</h2>
  </div>

<div class="contenedor">
  

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <!-- <ul *ngFor="let item of readData">
    
      <li class="eventos" >

          <div class="titulo-border">
            <span class="title">
              <span class="resaltado"></span>
              <span class="title-black">{{ item.titulo }}</span>
              <i class="fa" [ngClass]= " { 'fa-caret-down': !propiedades.error, 'fa-caret-up': propiedades.error }" (click)="propiedades.error = !propiedades.error"></i>
            </span>
          </div>

        <div class="informacion" [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error }" >
          <div class="descripcion">
            <p>
              {{ item.descripcion }}
            </p>
          </div>

          <section class="imagenes">

            <div class="book">
              <div class="caja">
                <div class="box">
                  <img #asImage [src]="item.imagen1 + item.tipo1" alt="Cargando imagen..." class="margin">
                </div>
              </div>
            </div>
            <div class="book">
              <div class="caja">
                <div class="box">
                  <img #asImage src="../../../assets/img/eventos/0cc416948caea239114c30d546669048.jpg.jpeg" alt="Cargando imagen..." class="margin">
                </div>
              </div>
            </div>
            <div class="book">
              <div class="caja">
                <div class="box">
                  <img #asImage src="../../../assets/img/eventos/20220908_195655.jpg" alt="Cargando imagen..." class="margin">
                </div>
              </div>
            </div>
            <div class="book">
              <div class="caja">
                <div class="box">
                  <img #asImage src="../../../assets/img/eventos/20220908_224009.jpg" alt="Cargando imagen..." class="margin">
                </div>
              </div>
            </div>

          </section>
        </div>
      </li>

  </ul> -->

  </div>
</div>